<app-base-card>
  <mat-paginator *ngIf="!hidePaginator" [length]="dataSource.data.length" [pageSize]="20" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons> </mat-paginator>
  <div class="overflow-x-auto overflow-y-hidden">
    <table [attr.aria-label]="ariaLabel" class="xs:text-xs w-full text-sm" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort>
      <ng-container *ngFor="let col of dataColumns">
        <ng-container [matColumnDef]="col?.columnDef" [sticky]="col.columnDef === 'name'">
          <th mat-header-cell class="first-of-type:min-w-41 first-of-type:w-41 first-of-type:pl-0" *matHeaderCellDef mat-sort-header tabindex="0">
            {{ col?.headerLabel }}
          </th>
          <td mat-cell class="first-of-type:min-w-41 first-of-type:w-41 first-of-type:pl-0" *matCellDef="let data">
            <ng-container [ngSwitch]="col.columnDef">
              <ng-template [ngSwitchCase]="'name'">
                <app-espn-player-info-col [player]="data" [hideLineupSlot]="true" (playerClicked)="onPlayerClicked($event)"></app-espn-player-info-col>
              </ng-template>
              <ng-template [ngSwitchCase]="'percentChange'">
                <app-espn-player-trending-col [data]="col?.cellData(data)"></app-espn-player-trending-col>
              </ng-template>
              <ng-template [ngSwitchDefault]>
                {{ (col?.cellData(data) | statFormat: 'number' | number: '1.0-3') ?? '-' }}
              </ng-template>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="headers; sticky: true"></tr>
      <tr mat-row *matRowDef="let player; columns: headers" [class.bg-sky-200]="player?.highlightedPlayer"></tr>
    </table>
  </div>
</app-base-card>
