<div class="relative h-full">
  <div class="mx-auto w-full px-4 md:px-10">
    <app-base-card>
      <i [class.text-green-500]="isOnline$ | async" class="fa fa-circle"></i> Online
      <p>isServiceWorkerEnabled | {{ isServiceWorkerEnabled }}</p>
      <p>isStandaloneMode | {{ isStandaloneMode$ | async }}</p>
      <p>
        <button mat-button [disabled]="true" color="primary">Install PWA</button>
      </p>
      <p>
        <button mat-button [disabled]="true" color="secondary">Update PWA</button>
      </p>
    </app-base-card>
  </div>
</div>
<ng-container *ngIf="isIosAndSafari"> Ios! </ng-container>
