<app-page-layout [pageTitle]="mlbTeamFacade.selectBaseballTeamById(teamId).teamName">
  <div class="side" gdArea="side">
    <app-lineup-card [lineup]="mlbTeamFacade.selectTeamStartingBatters(teamId)"></app-lineup-card>
    <div style="padding: 20px 0"></div>
    <app-lineup-card [lineup]="mlbTeamFacade.selectTeamBenchBatters(teamId)"></app-lineup-card>
  </div>
  <div class="content" gdArea="content">
    <div fxLayout="row wrap" style="background-color: aliceblue" fxLayoutGap="20px"></div>
    <app-roster [fantasyPlayers]="mlbTeamFacade.selectTeamStartingBatters(teamId)"></app-roster>
    <div style="padding: 20px 0"></div>
    <app-roster [fantasyPlayers]="mlbTeamFacade.selectTeamStartingPitchers(teamId)"></app-roster>
  </div>
  <div class="footer" gdArea="footer">Footer</div>
</app-page-layout>

<ng-template #noPlayers> No Players </ng-template>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
