<div fxLayout="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="30%" fxFlex.sm="100%">
    <app-lineup-card
      [lineup]="(fantasyBaseballTeamFacade.startingBatters$ | async)!(teamId)"
      (fetchPlayerDetails)="fantasyBaseballPlayerFacade.getPlayerNews($event.id)"
    ></app-lineup-card>
  </div>
  <div fxFlex="70%" fxFlex.sm="100%">
    <a mat-flat-button color="primary" (click)="navigateHome()">Home</a>
    <div style="margin: 10px 0"></div>

    <app-dropdown-filter
      [selectedOption]="scoringPeriodId"
      title="Stat Period"
      [filterItems]="STAT_PERIOD_FILTER_OPTIONS"
      (filterUpdate)="scoringPeriodIdChange($event.value)"
    ></app-dropdown-filter>

    <mat-form-field>
      <mat-label>Batter Stats</mat-label>
      <mat-select [(value)]="selectedBatterStat" (selectionChange)="batterStatChange($event.value)">
        <mat-option *ngFor="let stat of statList" [value]="stat">{{ MLB_STAT_MAP[stat].abbrev }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="20px">
      <h4>{{ MLB_STAT_MAP[selectedBatterStat].description }}</h4>

      <div>
        <app-data-vis [statFilter]="selectedBatterStat" [chartData]="(fantasyBaseballTeamFacade.battingStats$ | async)!(teamId, scoringPeriodId)"></app-data-vis>
      </div>
    </div>
    <h3>Batting</h3>
    <mat-slide-toggle (change)="onLiveScoringSelectChange($event)" color="primary"> Live Scoring </mat-slide-toggle>
    <ng-container *ngIf="isLiveScore; else default">
      <app-roster
        [data]="(fantasyBaseballTeamFacade.liveBattingStats$ | async)!(teamId)"
        [dataColumns]="espnTableFacade.liveBatterTableRow$ | async"
        [headers]="espnTableFacade.liveBatterTableHeaders$ | async"
      >
      </app-roster>
    </ng-container>

    <ng-template #default>
      <app-roster
        [data]="(fantasyBaseballTeamFacade.battingStats$ | async)!(teamId, scoringPeriodId)"
        [dataColumns]="espnTableFacade.batterTableRow$ | async"
        [headers]="espnTableFacade.batterTableHeaders$ | async"
      >
      </app-roster>
    </ng-template>

    <h3>Pitching</h3>

    <mat-form-field>
      <mat-label>Pitcher Stats</mat-label>
      <mat-select [(value)]="selectedPitcherStat" (selectionChange)="pitcherStatChange($event.value)">
        <mat-option *ngFor="let stat of statList" [value]="stat">{{ MLB_STAT_MAP[stat].abbrev }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <h4>{{ MLB_STAT_MAP[selectedPitcherStat].description }}</h4>
      <app-data-vis [statFilter]="selectedPitcherStat" [chartData]="(fantasyBaseballTeamFacade.pitcherStats$ | async)!(teamId, scoringPeriodId)"></app-data-vis>
    </div>
    <app-roster
      ariaLabel="pitching stats table"
      [data]="(fantasyBaseballTeamFacade.pitcherStats$ | async)!(teamId, scoringPeriodId)"
      [dataColumns]="espnTableFacade.pitcherTableRow$ | async"
      [headers]="espnTableFacade.pitcherTableHeaders$ | async"
    >
    </app-roster>
  </div>
</div>
