<div fxLayout="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="30%" fxFlex.sm="100%">
    <app-league-scoreboard [teams]="fantasyBaseballLeagueFacade.standings$ | async"></app-league-scoreboard>
  </div>
  <div fxFlex="70%" fxFlex.sm="100%">
    <a mat-flat-button color="primary" [routerLink]="['./free-agents']">Free Agents</a>
    <div style="margin: 10px 0"></div>
    <app-standings
      [dataColumns]="espnTableFacade.standingsTableRow$ | async"
      [headers]="espnTableFacade.standingsTableHeaders$ | async"
      [teams]="fantasyBaseballTeamFacade.teamList$ | async"
    ></app-standings>
  </div>
</div>
