<mat-dialog-content *ngIf="data.player as player">
  <div class="flex items-center space-x-4">
    <div class="flex-shrink-0" [attr.aria-label]="player?.name">
      <img role="presentation" class="h-32 w-44 rounded-full" [title]="player?.name" [alt]="player?.name" [src]="playerImg" />
    </div>
    <div class="min-w-0 flex-1">
      <p [title]="player?.name" class="truncate text-2xl font-medium">{{ player?.name }}</p>
      <p class="text-md truncate">{{ player?.team }}, {{ player?.position }}</p>
    </div>
  </div>
  <ng-container *ngIf="data.news.length > 0">
    <div class="flex-col" class="divide-y">
      <ng-container *ngFor="let item of data.news">
        <article class="py-5">
          <h2 class="text-base font-bold">
            <a *ngIf="item?.link; else noLinkHeadline" title="view story" [href]="item?.link" target="_blank">
              {{ item?.headline }}
              <i class="fas fa-external-link fa-xs ml-2"></i>
              <span class="sr-only">view story</span>
            </a>
          </h2>

          <ng-template #noLinkHeadline>
            {{ item?.headline }}
          </ng-template>

          <section>
            <p class="mt-3 text-sm" [innerHtml]="item?.story"></p>
          </section>
          <footer>
            <p class="mt-3 text-xs">
              Posted on <time [attr.datetime]="item?.published">{{ item?.published | date: 'short' }}</time>
              <ng-container *ngIf="item.author"> by {{ item?.author }}</ng-container>
            </p>
          </footer>
        </article>
      </ng-container>
    </div>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
