@import '../../../../theme/theme-variables.scss';

.player {
  &.team-pos {
    font-size: 11px;
    color: $sub-text-color;
  }
  &.name {
    font-size: 20px;
    font-weight: bold;
    color: $text-color;
  }
}
