<mat-dialog-title>
  <div *ngIf="data.player as player">
    <div>
      <img height="160px" width="213px" role="presentation" [src]="playerImg" [alt]="player?.name" />
    </div>
    <div>
      <div>
        <div class="player name">
          {{ player?.name }}
        </div>
        <div class="player team-pos">{{ player?.team }}, {{ player?.position }}</div>
      </div>
    </div>
    <div>
      <div>
        <h3>% Owned</h3>
        <div>{{ player?.percentOwned | number: '1.0-2' }} ({{ player?.percentChange | number: '1.0-2' }})</div>
      </div>
    </div>
  </div>
</mat-dialog-title>
<mat-dialog-content>
  <h4>Outlook By Week</h4>
  <ul>
    <li *ngFor="let c of data.player.outlookByWeek">
      <h4>Week {{ c.week }}</h4>
      <p>{{ c.outlook }}</p>
    </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
