<mat-dialog-content *ngIf="data.player as player">
  <div class="flex items-center space-x-4">
    <div class="flex-shrink-0" [attr.aria-label]="player?.name">
      <img role="presentation" class="h-32 w-44 rounded-full" [title]="player?.name" [alt]="player?.name" [src]="playerImg" />
    </div>
    <div class="min-w-0 flex-1">
      <p [title]="player?.name" class="truncate text-2xl font-medium">{{ player?.name }}</p>
      <p class="text-md truncate">{{ player?.team }}, {{ player?.position }}</p>
    </div>
  </div>
  <div class="flex-col">
    <div class="ui-font-weight-bold">Feed</div>

    <div class="flex-col" *ngFor="let item of data.news">
      <div>{{ item.headline }} - {{ news.
        lastModified }}</div>
      <p [innerHtml]="item.story"></p>
    </div>
  </div>

  <div class="flex-col">
    <div class="ui-font-weight-bold">Outlook By Week</div>
    <div class="flex-col" *ngFor="let c of data.player.outlookByWeek">
      <div class="ui-font-weight-bold">Week {{ c.week }}</div>
      <div>{{ c.outlook }}</div>
      <mat-divider></mat-divider>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
