<div class="flex items-center space-x-4" [ngClass]="opacity">
  <div class="flex-shrink-0">
    <img width="48" height="35" role="presentation" class="h-10 w-10 rounded-full" [alt]="team?.name" [src]="team?.logo" />
  </div>
  <div class="min-w-0 flex-1">
    <p class="truncate text-sm font-medium">
      <span style="margin-right: 5px">{{ team?.currentRank }}</span
      >{{ team?.name }}
    </p>
    <p class="truncate text-xs">{{ team?.wins ?? 0 }}-{{ team?.losses ?? 0 }}-{{ team?.ties ?? 0 }}</p>
  </div>
  <div class="inline-flex items-center text-base font-semibold">
    {{ team?.totalPoints }}
  </div>
</div>
