@import '../../../../theme/theme-variables.scss';

mat-card-content {
  // display: grid;
  // grid-template-columns: 10% 3% 84% 3%;

  // @media (max-width: 767.98px) {
  //   grid-template-columns: 25% 75% 25%;
  //   grid-template-rows: auto;

  //   > * {
  //     grid-column: 1 / -1 !important;
  //     grid-row: auto !important;
  //   }
  // }

  // @media (max-width: 575.98px) {
  //   grid-template-columns: 100%;
  //   grid-template-rows: auto;
  //   overflow: hidden;

  //   > * {
  //     grid-column: 1 / -1 !important;
  //     grid-row: auto !important;
  //   }
  // }
}

mat-form-field {
  width: 100%;
}

mat-card-subtitle {
  text-align: center;
}

.feed-action-btn {
  border-radius: 15px;
  background-color: #ececec;
}

.scoreboard {
  &.refresh {
    &.timestamp {
      font-weight: bold;
      font-size: 11px;
      color: $sub-text-color;
    }

    &.text {
      font-size: 13px;
      color: $text-color;
    }
  }
  &.container {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    // overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: auto;
    // scrollbar-color: #fff #f5f6f6;
    // scrollbar-width: thin;
    // padding: 10px;
  }
}
