@import '../../../../theme/theme-variables.scss';

section {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card-subtitle {
  text-align: center;
}

.feed-action-btn {
  border-radius: 15px;
  background-color: #ececec;
}

.scoreboard {
  &.refresh {
    &.timestamp {
      font-weight: bold;
      font-size: 11px;
      color: $sub-text-color;
    }

    &.text {
      font-size: 13px;
      color: $text-color;
    }
  }
  &.container {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    // overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: auto;
    // scrollbar-color: #fff #f5f6f6;
    // scrollbar-width: thin;
    // padding: 10px;
  }
}
