<section>
  <mat-card style="padding: 0">
    <mat-card-content>
      <div class="flex-col">
        <div class="flex-row" style="align-items: center; padding: 15px">
          <div class="scoreboard refresh timestamp" style="display: flex; flex: 1 1 auto">{{ lastRefreshAsTickerDate$ | async }}</div>
          <div style="display: flex; align-content: center; flex: 1 1 auto; place-content: center flex-end">
            <button mat-icon-button aria-label="Button to start and pause feed" (click)="onStartFeed()">
              <mat-icon>{{ (paused$ | async) ? 'play_arrow_outline' : 'pause_circle_outline' }}</mat-icon>
            </button>
          </div>
        </div>
        <div style="padding: 15px">
          <app-dropdown-filter
            [disabled]="!(showFeed$ | async)"
            [selectedOption]="selectedLeagueId$ | async"
            [filterItems]="leagueList$ | async"
            (filterUpdate)="onLeagueSelectChange($event)"
          ></app-dropdown-filter>
        </div>
      </div>
      <div>
        <div class="scoreboard container" id="scoreboard-feed" role="feed" aria-live="polite">
          <ng-container *ngIf="showLoader$ | async; then progressBar"> </ng-container>
          <ng-container *ngIf="showFeed$ | async; then feed; else noEventsMessage"> </ng-container>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>

<ng-template #feed>
  <ng-container *ngFor="let event of eventsByLeagueId$ | async; let first = first; let last = last; let i = index">
    <!-- (toggleExpandedEvent)="onToggleExpandedEvent($event)"
    (toggleOffExpandedEvent)="onToggleOffExpandedEvent($event)" -->

    <app-espn-scoreboard-card
      [ngStyle]="{ 'border-left': !first ? '1px solid #a5a6a7' : '' }"
      [index]="i"
      [ariaSetsize]="(eventsByLeagueId$ | async).length"
      [ariaPosinset]="i + 1"
      [isEventToggled]="(isIdToggled$ | async)!(event.id)"
      [isTournament]="event.isTournament"
      [event]="event"
    ></app-espn-scoreboard-card>
  </ng-container>
</ng-template>

<ng-template #progressBar>
  <mat-progress-bar mode="buffer" [value]="feedLoadingValue$ | async"></mat-progress-bar>
</ng-template>

<ng-template #noEventsMessage>
  <app-no-data title="Feed Paused"></app-no-data>
</ng-template>
