mat-form-field {
  width: 100%;
}

.scoreboard-container {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-color: #fff #f5f6f6;
  scrollbar-width: thin;
  padding: 10px;
}

mat-card.league-separator {
  margin: 10px;
  width: 100px;
  min-width: 100px;
  height: 175px;
  text-align: center;
  padding: 55px 0;
}
