<ng-container *ngFor="let event of fastcastFacade.selectEventsMapList$ | async">
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="ui-w-100">
      <mat-card style="margin: 10px 0">
        <mat-card-content>
          <app-espn-scoreboard-card-team [team]="event?.teams?.away"></app-espn-scoreboard-card-team>
          <app-espn-scoreboard-card-team [team]="event?.teams?.home"></app-espn-scoreboard-card-team>
        </mat-card-content>
        <mat-card-actions align="end">
          <div fxLayout="row">
            <ng-container *ngIf="!event?.isHalftime; else halftime">
              <div>{{ event?.summary }}</div>
            </ng-container>

            <div style="font-size: 14px">{{ event?.downDistancePositionText }}</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>

<ng-template #halftime>
  {{ event?.isHalftime ? 'Halftime' : null }}
</ng-template>
