<mat-form-field fxShow fxHide.xs>
  <mat-label>{{ title }}</mat-label>
  <mat-select [(value)]="selectedOption" (selectionChange)="filterUpdate.emit($event.value)">
    <mat-option *ngFor="let item of filterItems" [value]="item.value">{{ item.label }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field fxHide fxShow.xs>
  <mat-label>{{ title }}</mat-label>
  <select matNativeControl style="text-align: center" [(value)]="selectedOption" (change)="filterUpdate.emit($event.target.value)">
    <option *ngFor="let item of filterItems" [value]="item.value">{{ item.label }}</option>
  </select>
</mat-form-field>
