<app-page-layout>
  <div class="header" gdArea="header">
    <mat-toolbar style="background-color: #205493; color: #ffffff">
      <span>ESPN Companion</span>
    </mat-toolbar>
  </div>

  <div class="side" gdArea="side">
    <ng-container
      *ngIf="(mlbFacade.isLoading$ | async) === false; else loading"
    >
      <app-league-scoreboard
        [teams]="mlbFacade.liveScore$ | async"
      ></app-league-scoreboard>
    </ng-container>
  </div>

  <app-no-data></app-no-data>

  <div
    class="content"
    gdArea="content"
    *ngIf="(mlbFacade.isLoading$ | async) === false; else loading"
  >
    <ng-container *ngIf="(mlbFacade.noGames$ | async) === false; else noGames">
      <app-scoreboard
        [events]="mlbFacade.sortedGamesByStartTime$ | async"
      ></app-scoreboard>
    </ng-container>
    <div style="padding: 20px 0"></div>
    <ng-container>
      <app-standings [teams]="mlbFacade.standings$ | async"></app-standings>
    </ng-container>
    <div style="padding: 20px 0"></div>
  </div>

  <div class="footer" gdArea="footer">Footer</div>
</app-page-layout>

<ng-template #noGames>
  <app-no-data [title]="NO_GAMES_TEXT"></app-no-data>
</ng-template>

<ng-template #loading> Loading... </ng-template>
