<div gdAreas="header header header header| 
side content content content | 
footer footer footer footer" gdGap="16px" gdRows="auto auto auto auto" gdAreas.lt-md="header | side | content | footer"
    gdRows.lt-md="auto auto auto auto">

    <div class="header" gdArea="header">
        <mat-toolbar style="background-color:#205493;color:#ffffff">
            <span>ESPN Companion</span>
        </mat-toolbar>
    </div>

    <div class="side" gdArea="side">
        <ng-container *ngIf="(mlbFacade.isLoading$ | async) === (false); else loading">
            <app-scoreboard [teams]="mlbFacade.scoreboard$ | async"></app-scoreboard>
        </ng-container>
    </div>

    <div class="content" gdArea="content">
        <div style="padding: 20px 0;"></div>
        <ng-container *ngIf="mlbFacade.teams$ | async; else loading">
            <app-standings [teams]="mlbFacade.teams$ | async"></app-standings>
        </ng-container>
        <div style="padding: 20px 0;"></div>
    </div>

    <div class="footer" gdArea="footer">
        Footer
    </div>

</div>

<ng-template #loading>
    Loading...
</ng-template>
