<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex="20">
        <ng-container *ngIf="espnFacade.scoreboard$ | async; else loading">
            <app-scoreboard [teams]="espnFacade.scoreboard$ | async"></app-scoreboard>
        </ng-container>
    </div>
    <div fxFlex="80">
        <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
            *ngIf="espnFacade.teams$ | async">
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="r"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="avg"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="rbi"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="hr"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="sb"></app-scoreboard-exp>
            </div>
        </div>
        <div style="padding: 20px 0;"></div>
        <div fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px"
            *ngIf="espnFacade.teams$ | async">
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="k"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="w"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="sv"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="era"></app-scoreboard-exp>
            </div>
            <div fxFlex="20">
                <app-scoreboard-exp [teams]="espnFacade.teams$ | async" stat="whip"></app-scoreboard-exp>
            </div>
        </div>
        <div style="padding: 20px 0;"></div>

        <ng-container *ngIf="espnFacade.teams$ | async; else loading">
            <app-standings [teams]="espnFacade.teams$ | async"></app-standings>
        </ng-container>
    </div>
</div>


<ng-template #loading>
    Loading...
</ng-template>