<app-scrollable-table>
  <table class="ui-w-100" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort>
    <ng-container *ngFor="let col of dataRows">
      <ng-container [matColumnDef]="col?.columnDef" [sticky]="col.columnDef === 'name'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [class.table-col]="col.columnDef !== 'name'">{{ col?.headerLabel }}</th>
        <td mat-cell *matCellDef="let data" [class.table-col]="col.columnDef !== 'name'">
          <app-loading-skeleton [isLoading]="isLoading$ | async">
            <ng-container [ngSwitch]="col.columnDef">
              <ng-template [ngSwitchCase]="'name'">
                <div class="flex-row gap-5" style="margin-right: 10px">
                  <div class="flex-col" style="flex: 90%">
                    <div>
                      {{ data?.name }}
                    </div>
                    <div class="player team-pos">{{ teamMap[data?.teamId] }}, {{ data?.position }}</div>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="'opp'">
                {{ col?.cellData(data) }}
              </ng-template>
              <ng-template [ngSwitchDefault]>
                {{ col.dataType === TableColumnDataType.Number ? (col?.cellData(data) | statFormat: 'number' | number: '1.0-3') : col?.cellData(data) }}
              </ng-template>
            </ng-container>
          </app-loading-skeleton>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let team; columns: dataHeaders"></tr>
  </table>
</app-scrollable-table>
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons> </mat-paginator>
