<div class="overflow-x-auto overflow-y-hidden">
  <table class="xs:text-xs w-full text-sm" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort>
    <ng-container *ngFor="let col of dataRows">
      <ng-container [matColumnDef]="col?.columnDef" [sticky]="col.columnDef === 'name'">
        <th
          mat-header-cell
          class="whitespace-nowrap border border-l-0 border-r-0 border-solid border-sky-100 bg-sky-50 p-3 py-3 text-left align-middle text-xs font-semibold uppercase text-sky-500"
          *matHeaderCellDef
          mat-sort-header
          tabindex="0"
        >
          {{ col?.headerLabel }}
        </th>
        <td
          class="whitespace-nowrap border-l-0 border-r-0 border-t-0 p-3 align-middle text-xs"
          mat-cell
          *matCellDef="let data"
          [ngClass]="col.columnDef === 'oppPassDefRank' || col.columnDef === 'oppRushDefRank' ? matchupThresholdInverse(col?.cellData(data)) : null"
        >
          <app-loading-skeleton [isLoading]="isLoading$ | async">
            <ng-container [ngSwitch]="col.columnDef">
              <ng-template [ngSwitchCase]="'name'">
                <div class="ml-3 flex items-center space-x-4">
                  <div class="flex-shrink-0" [attr.aria-label]="data?.name">
                    <div class="min-w-0 flex-1">
                      <p [title]="data?.name" class="truncate text-xs font-medium sm:text-sm">
                        {{ data?.name }}
                      </p>
                      <p class="truncate text-xs">{{ teamMap[data?.rgTeamId] }}, {{ data?.position }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template [ngSwitchCase]="'opp'">
                {{ col?.cellData(data) ?? '-' }}
              </ng-template>
              <ng-template [ngSwitchDefault]> {{ (col?.cellData(data) | statFormat: 'number' | number: '1.0-2') ?? '-' }} </ng-template>
            </ng-container>
          </app-loading-skeleton>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="dataHeaders; sticky: true"></tr>
    <tr mat-row *matRowDef="let player; columns: dataHeaders" (click)="onPlayerSelect(player)"></tr>
  </table>
</div>
<div class="my-3">
  <mat-paginator [length]="dataSource?.data?.length" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons> </mat-paginator>
</div>
