<div fxLayout="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
  <!-- <div fxFlex></div> -->
  <div fxFlex>
    <a mat-flat-button color="primary" [routerLink]="['./']">Home</a>

    <app-dropdown-filter title="Stat Period" [filterItems]="STAT_PERIOD_FILTER_OPTIONS" (filterUpdate)="scoringPeriodIdChange($event)"></app-dropdown-filter>
    <div style="margin: 10px 0"></div>

    <app-roster
      #freeAgentBatters
      [data]="(fantasyBaseballFreeAgentsFacade.freeAgentBatterStats$ | async)!(scoringPeriodId, '2022')"
      [dataColumns]="espnTableFacade.batterTableRow$ | async"
      [headers]="espnTableFacade.batterTableHeaders$ | async"
    ></app-roster>

    <div style="margin: 10px 0"></div>

    <app-roster
      #freeAgentPitchers
      [data]="(fantasyBaseballFreeAgentsFacade.freeAgentPitcherStats$ | async)!(scoringPeriodId, '2022')"
      [dataColumns]="espnTableFacade.pitcherTableRow$ | async"
      [headers]="espnTableFacade.pitcherTableHeaders$ | async"
    ></app-roster>
  </div>
</div>
