<div
  gdAreas.xs="content | footer"
  gdGap="1em"
  gdColumns.xs="none"
  gdAreas.sm="content content | footer footer"
  gdColumns.sm="30%!"
  gdAreas.gt-sm="content content  | footer footer "
  gdColumns.gt-sm="30% auto"
  gdGap.gt-sm="20px"
  [ngStyle]="{ 'max-width': 'auto' }"
>
  <div gdArea="content">
    <div fxLayout="row">
      <div>
        <app-dropdown-filter title="Stat Period" [filterItems]="STAT_PERIOD_FILTER_OPTIONS" (filterUpdate)="scoringPeriodIdChange($event)"></app-dropdown-filter>

        <!-- <app-data-vis
          [xAxisFilterOptions]="fantasyBaseballFreeAgentsFacade.selectStatListFilters$ | async"
          [yAxisFilterOptions]="fantasyBaseballFreeAgentsFacade.selectStatListFilters$ | async"
          [chartData]="stats$ | async"
          (filterChangeEvent)="filterChange($event)"
        ></app-data-vis> -->
      </div>
    </div>
    <app-roster
      #freeAgentBatters
      [data]="(fantasyBaseballFreeAgentsFacade.freeAgentBatterStats$ | async)!(scoringPeriodId, '2022')"
      [dataColumns]="espnTableFacade.batterTableRow$ | async"
      [headers]="espnTableFacade.batterTableHeaders$ | async"
    ></app-roster>

    <app-roster
      #freeAgentPitchers
      [data]="(fantasyBaseballFreeAgentsFacade.freeAgentPitcherStats$ | async)!(scoringPeriodId, '2022')"
      [dataColumns]="espnTableFacade.pitcherTableRow$ | async"
      [headers]="espnTableFacade.pitcherTableHeaders$ | async"
    ></app-roster>
  </div>
  <div gdArea="footer"></div>
</div>
