<app-page-layout>
  <div statsHeader></div>
  <div main>
    <div class="flex flex-wrap">
      <div class="mb-12 w-full px-4 xl:mb-0">
        <app-base-card>
          <section class="mb-0 max-w-full">
            <div class="flex flex-col sm:flex-row">
              <div class="basis-1/5 p-6 align-middle">
                <app-dropdown-filter
                  [disabled]="false"
                  ariaLabel="week selection options"
                  [selectedOption]="currentScoringPeriod$ | async"
                  [filterItems]="matchupPeriodIdFilterOptions$ | async"
                  (filterUpdate)="updateCurrentScoringPeriodId($event)"
                ></app-dropdown-filter>
              </div>
              <div class="flex basis-4/5 overflow-x-auto px-6 align-middle">
                <div class="flex flex-nowrap" id="matchup-feed">
                  <ng-container *ngFor="let matchup of matchupListByMatchupPeriodId$ | async; let i = index">
                    <article class="min-w-60 mr-3 w-60" [attr.data-index]="i" tabindex="-1">
                      <div class="flex text-gray-400">
                        <div class="w-10/12"></div>
                        <div class="w-2/12 text-right text-base font-semibold">
                          <span class="hover:cursor-pointer">
                            <a [href]="matchup.clickOutUrl" target="_blank">
                              <i class="fas fa-external-link fa-xs"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                      <div class="divide-y">
                        <app-football-matchup-card-team [team]="matchup.awayTeam" (teamClicked)="onNavigateToTeam($event)"></app-football-matchup-card-team>
                        <app-football-matchup-card-team [team]="matchup.homeTeam" (teamClicked)="onNavigateToTeam($event)"></app-football-matchup-card-team>
                      </div>
                    </article>
                  </ng-container>
                </div>
              </div>
            </div>
          </section>
        </app-base-card>
      </div>
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-8/12">
        <app-base-card>
          <app-espn-standings-table
            [data]="standings$ | async"
            [rows]="LEAGUE_STANDINGS_ROWS"
            [headers]="LEAGUE_STANDINGS_HEADERS"
            (navigateToTeam)="onNavigateToTeam($event)"
          ></app-espn-standings-table>
        </app-base-card>
      </div>
    </div></div
></app-page-layout>
