.mat-icon {
  height: 15px;
  width: 15px;
}

.material-icons {
  font-size: 15px;
}

.injury-status {
  font-size: 15px;
  color: #cb0123;
  font-weight: bold;

  &_dtd {
    font-size: 10px;
    color: #cb0123;
    font-weight: bold;
  }
}
