<table>
  <tr>
    <td rowspan="3">
      <img style="font-size: 10px" width="48" height="35" [src]="player.img" [alt]="player.name" />
    </td>
  </tr>
  <tr>
    <td>
      {{ player?.name }}

      <span class="injury-status_dtd" [title]="player?.injuryStatus" *ngIf="isPlayerDayToDay">DTD</span>
      <mat-icon class="injury-status" [matTooltip]="player?.injuryStatus" *ngIf="player?.isInjured">medical_services</mat-icon>
    </td>
  </tr>
  <tr>
    <td>{{ player?.team }}, {{ player.position }}</td>
  </tr>
</table>
