<app-page-layout>
  <div sidebar>
    <ng-container *ngIf="!(slatesEmpty$ | async)">
      <app-slate-list [slateList]="selectSlateByType$ | async" (selectSlate)="onSelectSlate($event)"></app-slate-list>
    </ng-container>
  </div>
  <div nav>
    <h4>{{ selectedSlate$ | async }}</h4>
  </div>
  <div main style="display: grid; grid-template-rows: auto">
    <div>
      <div style="display: grid; column-gap: 10px; grid-template-columns: repeat(2, 1fr)">
        <div>
          <app-dropdown-filter
            [selectedOption]="xAxisStat$ | async"
            title="xAxis"
            [filterItems]="playerScatterAxisOptions$ | async"
            (filterUpdate)="onAxisXChange($event.value)"
          ></app-dropdown-filter>
        </div>

        <div>
          <app-dropdown-filter
            [selectedOption]="yAxisStat$ | async"
            title="yAxis"
            [filterItems]="playerScatterAxisOptions$ | async"
            (filterUpdate)="onAxisYChange($event.value)"
          ></app-dropdown-filter>
        </div>
      </div>
    </div>
    <div>
      <app-data-vis-scatter title="hey there" xAxisFilterTitle="hi there" yAxisFilterTitle="ho there" [chartData]="playerScatterData$ | async"></app-data-vis-scatter>
    </div>

    <div>
      <ng-container *ngIf="!(slatesEmpty$ | async); else noSlates">
        <ng-container *ngIf="!(playersEmpty$ | async)">
          <div style="display: grid; column-gap: 10px; grid-template-columns: repeat(3, 1fr)">
            <div>
              <app-dropdown-filter title="Teams" [filterItems]="playerTeamsFilterOptions$ | async" (filterUpdate)="teamFilterChange($event)"></app-dropdown-filter>
            </div>

            <div>
              <app-dropdown-filter
                title="Position"
                [filterItems]="playerPositionFilterOptions$ | async"
                (filterUpdate)="positionFilterChange($event)"
              ></app-dropdown-filter>
            </div>
          </div>

          <app-player-table
            [teamFilter]="teamFilter$ | async"
            [statGroupFilter]="statGroupFilter$ | async"
            [positionFilter]="positionFilter$ | async"
            [teamMap]="NFL_TEAM_ID_MAP"
            [data]="nflPlayerList$ | async"
            [dataRows]="STATS_ROWS"
            [dataHeaders]="STATS_HEADERS"
          ></app-player-table>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-page-layout>

<ng-template #noPlayers> <app-no-data title="No Players for this Slate"></app-no-data></ng-template>
<ng-template #noSlates> <app-no-data title="No Slates Available"></app-no-data></ng-template>
