<div class="flex-row gap-10" [title]="playerLabel" [attr.id]="playerLabel">
  <div>
    <img role="presentation" [src]="player?.img" [alt]="player?.name" />
  </div>
  <div class="flex-col">
    <div class="player name">
      {{ player?.name }}
      <mat-icon
        *ngIf="player?.injuryStatus"
        [ngStyle]="{ color: playerInjuryStatusColor(player.injuryStatus) }"
        [title]="PlayerStatusAbbrevByInjuryStatusType[player?.injuryStatus]"
        >{{ MatIconByEspnPlayerInjuryStatus[player?.injuryStatus] }}</mat-icon
      >
    </div>
    <div class="player team-pos">{{ player?.team }}, {{ player?.position }}</div>
  </div>
</div>

<!-- <div class="flex-row gap-5" style="cursor: pointer; margin-right: 10px" [attr.id]="teamTableLabel">
  <div style="flex: 10%" [attr.aria-label]="team?.name" [attr.aria-labelledby]="teamTableLabel">
    <img width="48" height="35" [title]="team?.name" [alt]="team?.name" [src]="team?.logo" [alt]="team?.name" />
  </div>
  <div class="ui-font-weight-bold" style="display: flex; flex: 90%; font-size: 12px">
    <a (click)="navigateToTeam()" tabindex="0">{{ team?.name }}</a>
  </div>
</div> -->
