<div [title]="playerLabel" style="display: flex; flex-direction: row">
  <div>
    <img role="presentation" [src]="player?.img" [alt]="player?.name" />
  </div>
  <div class="flex-col">
    <div class="player name">
      {{ player?.name }}
      <mat-icon
        *ngIf="player?.injuryStatus"
        [ngStyle]="{ color: playerInjuryStatusColor(player.injuryStatus) }"
        [title]="PlayerStatusAbbrevByInjuryStatusType[player?.injuryStatus]"
        >{{ MatIconByEspnPlayerInjuryStatus[player?.injuryStatus] }}</mat-icon
      >
    </div>
    <div class="player team-pos">{{ player?.team }}, {{ player?.position }}</div>
  </div>
</div>
