@import '../../../../theme/theme-variables.scss';

.player-wrap {
  @media (max-width: 600px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    > * {
      grid-column: 1 / -1 !important;
      grid-row: auto !important;
    }
  }
}

.mat-icon {
  height: 15px;
  width: 15px;
}

.material-icons {
  font-size: 15px;
}

.player {
  &.team-pos {
    font-size: 11px;
    color: $sub-text-color;
  }
  &.name {
    color: $text-color;
  }
}
