$small-col-w: 60px;
$threshold-font-color: whitesmoke;
$threshold-font-weight: bold;

.mat-column-ranking {
  max-width: $small-col-w;
}

.scrollable-table {
  overflow-x: hidden;
  overflow-y: hidden;

  &.horizontalScroll {
    overflow-x: auto;
  }

  &.verticalScroll {
    overflow-y: auto;
  }

  &.maxHeightSmall {
    max-height: 270px;
    &.fixedHeight {
      height: 270px;
    }
  }

  &.maxHeightMedium {
    max-height: 450px;
    &.fixedHeight {
      height: 450px;
    }
  }

  &.maxHeightLarge {
    max-height: 700px;
    &.fixedHeight {
      height: 700px;
    }
  }
}

.threshold-col {
  &_excellent {
    background-color: #00876c;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_great {
    background-color: #71a879;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_above-avg {
    background-color: #b6c794;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_avg {
    background-color: #f4e8bc;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_below-avg {
    background-color: #eab780;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_poor {
    background-color: #e2805b;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }

  &_awful {
    background-color: #d43d51;
    color: $threshold-font-color;
    font-weight: $threshold-font-color;
  }
}
