<div class="flex items-center space-x-4" [attr.id]="teamTableLabel">
  <div class="flex-shrink-0" [attr.aria-label]="team?.name" [attr.aria-labelledby]="teamTableLabel">
    <img width="48" height="35" role="presentation" class="h-8 w-8" [title]="team?.name" [alt]="team?.name" [src]="team?.logo" />
  </div>
  <div class="min-w-0 flex-1">
    <p class="truncate text-sm font-medium hover:cursor-pointer">
      <a [title]="team?.name" (click)="navigateToTeam()" tabindex="-1">{{ team?.name }}</a>
    </p>
  </div>
</div>
