<span class="text-sm" [class.text-green-600]="trendingPositive" [class.text-red-600]="trendingNegative">
  <ng-container *ngIf="trendingPositive; else trendDown">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-green-600">
      <path
        fill-rule="evenodd"
        d="M10 15a.75.75 0 01-.75-.75V7.612L7.29 9.77a.75.75 0 01-1.08-1.04l3.25-3.5a.75.75 0 011.08 0l3.25 3.5a.75.75 0 11-1.08 1.04l-1.96-2.158v6.638A.75.75 0 0110 15z"
        clip-rule="evenodd"
      />
    </svg>
  </ng-container>
  {{ data | statFormat: 'number' | number: '1.2' }}
</span>

<ng-template #trendDown>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-red-600">
    <path
      fill-rule="evenodd"
      d="M10 5a.75.75 0 01.75.75v6.638l1.96-2.158a.75.75 0 111.08 1.04l-3.25 3.5a.75.75 0 01-1.08 0l-3.25-3.5a.75.75 0 111.08-1.04l1.96 2.158V5.75A.75.75 0 0110 5z"
      clip-rule="evenodd"
    />
  </svg>
</ng-template>
