<div class="mb-0 rounded-t border-0 px-4 py-3">
  <div class="flex flex-wrap items-center">
    <div class="relative w-full max-w-full flex-1 flex-grow pr-4">
      <h3 class="text-base font-semibold text-sky-700">{{ title }}</h3>
    </div>
    <div class="relative w-full max-w-full flex-1 flex-grow px-4 text-right">
      <app-refresh-btn (refreshButtonClicked)="onRefreshClick()"></app-refresh-btn>
    </div>
  </div>
</div>
<div class="block w-full overflow-x-auto">
  <table class="w-full border-collapse items-center bg-transparent">
    <tbody>
      <tr class="cursor-pointer hover:bg-slate-100" *ngFor="let player of lineup; let i = index" [attr.data-index]="i" tabindex="-1" (click)="onPlayerClick(player)">
        <th class="whitespace-nowrap border-t-0 border-l-0 border-r-0 py-2 px-2 align-middle text-xs sm:px-3">{{ player?.lineupSlot ?? '-' }}</th>
        <td class="whitespace-nowrap border-t-0 border-l-0 border-r-0 text-left align-middle text-xs">
          <img width="48" height="35" role="presentation" class="w-13 h-9 rounded-full text-center text-xs text-gray-500" [src]="player?.img" [alt]="player?.name" />
        </td>
        <td class="whitespace-nowrap border-t-0 border-l-0 border-r-0 py-2 px-4 align-middle text-xs">
          {{ player.name }}
          <p class="truncate text-xs hover:cursor-pointer">{{ player?.team }} - {{ player?.lineupSlot }}</p>
        </td>
        <td *ngIf="!isLive; else liveStats">
          <i
            [ngClass]="[FaIconByEspnPlayerInjuryStatus[player?.injuryStatus], InjurySeverityClassByInjurySeverity[InjurySeverityByInjuryStatus[player?.injuryStatus]]]"
            [title]="InjuryLabelByInjuryStatus[player?.injuryStatus]"
          ></i>
        </td>
        <ng-template #liveStats>
          <td class="whitespace-nowrap border-t-0 border-l-0 border-r-0 py-2 px-4 align-middle">
            <p class="text-xs">{{ performanceSummary(player) }}</p>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
