<!-- <mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="div menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{ pageTitle }} </span>
  <span class="shell-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="onNavigateToMyProfile()" aria-label="icon-button with account icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a mat-list-item (click)="onNavigateToEspnHome()">ESPN</a>
      <ng-container *ngIf="isEspn$ | async">
        <a mat-list-item (click)="onNavigateToEspnLeagueHome()">Home</a>
        <a mat-list-item (click)="onNavigateToEspnFreeAgents()">Free Agents </a>
      </ng-container>
      <a mat-list-item (click)="navigateDraftkingsMlb()">DK MLB</a>
      <a mat-list-item (click)="navigateDraftkingsNba()">DK NBA</a>
      <a mat-list-item (click)="navigateDraftkingsNfl()">DK NFL</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <main class="shell-container">
      <app-espn-scoreboard></app-espn-scoreboard>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container> -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" />
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a class="cursor-pointer rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>

              <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsMlb()"
                >DK MLB</a
              >

              <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsNfl()"
                >DK NFL</a
              >

              <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsNba()"
                >DK NBA</a
              >

              <a (click)="onNavigateToMyProfile()" class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
                >Profile</a
              >
            </div>
          </div>
        </div>

        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button
            type="button"
            class="
              inline-flex
              items-center
              justify-center
              rounded-md
              bg-gray-800
              p-2
              text-gray-400
              hover:bg-gray-700 hover:text-white
              focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800
            "
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <!--
              Heroicon name: outline/bars-3

              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Heroicon name: outline/x-mark

              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a class="cursor-pointer rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Dashboard</a>

        <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsMlb()">DK MLB</a>

        <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsNfl()">DK NFL</a>

        <a class="cursor-pointer rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" (click)="navigateDraftkingsNba()">DK NBA</a>
      </div>
      <div class="border-t border-gray-700 pt-4 pb-3">
        <div class="flex items-center px-5"></div>
        <div class="mt-3 space-y-1 px-2">
          <a (click)="onNavigateToMyProfile()" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Your Profile</a>

          <!-- <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>

          <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Sign out</a> -->
        </div>
      </div>
    </div>
  </nav>

  <header class="bg-white shadow">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <app-espn-scoreboard></app-espn-scoreboard>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-4 lg:px-6">
      <!-- <app-espn-scoreboard></app-espn-scoreboard> -->
      <!-- Replace with your content -->
      <router-outlet></router-outlet>

      <div class="px-4 py-6 sm:px-0">
        <div class="h-96 rounded-lg border-4 border-dashed border-gray-200"></div>
      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>
