<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" aria-label="div menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <span>{{ pageTitle }} </span>
  <span class="shell-spacer"></span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer>
    <mat-nav-list>
      <a mat-list-item (click)="onNavigateToEspnHome()">ESPN</a>
      <ng-container *ngIf="isEspn$ | async">
        <a mat-list-item (click)="onNavigateToEspnLeagueHome()">League Home</a>
        <a mat-list-item (click)="onNavigateToEspnTeam()">Team </a>
        <a mat-list-item (click)="onNavigateToEspnFreeAgents()">Free Agents </a>
      </ng-container>
      <a mat-list-item (click)="navigateDfs(URL_FRAGMENT.MLB)">DK MLB</a>
      <a mat-list-item (click)="navigateDfs(URL_FRAGMENT.NFL)">DK NFL</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <main class="shell-container">
      <app-espn-scoreboard></app-espn-scoreboard>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
