<article
  class="game-card"
  [attr.aria-labelledby]="ariaInfo.eventName"
  [attr.aria-describedby]="ariaInfo.eventDescription"
  [attr.aria-setsize]="ariaSetsize"
  [attr.aria-posinset]="ariaPosinset"
  style="padding: 10px"
>
  <div [id]="ariaInfo.eventSummary" class="event-summary flex-row">
    <div style="flex: auto">
      <span [id]="ariaInfo.eventName" class="meta-data">{{ event.name }}</span>
      <span [id]="ariaInfo.eventLocation" class="meta-data">{{ event.location }}</span>
      {{ eventSummary }}
    </div>
    <div style="flex: auto">
      <a [title]="ariaInfo.eventGamecast" [href]="event?.link" target="_blank"><mat-icon class="new-tab-icon">open_in_new</mat-icon></a>
    </div>
  </div>

  <app-espn-scoreboard-card-team
    [eventStatus]="event.status"
    [isTournament]="isTournament"
    [team]="event?.teams?.away"
    [odds]="event?.odds?.awayTeamOdds"
  ></app-espn-scoreboard-card-team>
  <app-espn-scoreboard-card-team
    [eventStatus]="event.status"
    [isTournament]="isTournament"
    [team]="event?.teams?.home"
    [odds]="event?.odds?.homeTeamOdds"
  ></app-espn-scoreboard-card-team>
</article>

<!-- <mat-card-actions style="display: none">
    <span class="event-summary" *ngIf="!eventInProgress && isTournament"> {{ event?.seriesSummary }}</span>
   <ng-container *ngIf="eventInProgress"> 
    <ng-container *ngIf="false">
      <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]="isEventToggled" class="mat-elevation-z0" (opened)="toggleExpansionPanel(event.id)" (closed)="toggleOffExpansionPanel(event.id)">
          <mat-expansion-panel-header>
            <mat-panel-description>View</mat-panel-description>
          </mat-expansion-panel-header>
          <div [ngSwitch]="event?.leagueId">
            <ng-template [ngSwitchCase]="league.MLB">
              <ng-container>
                <app-espn-fastcast-event-mlb [event]="event"></app-espn-fastcast-event-mlb>
              </ng-container>
            </ng-template>
            <ng-template [ngSwitchDefault]>
              <ng-container *ngIf="!event.completed || !event.isHalftime || (event.completed && !isTournament)">
                <span [id]="ariaInfo.eventLastPlay" class="event-summary" *ngIf="!event.completed || (event.completed && !isTournament)">
                  {{ event?.lastPlay?.text }}
                </span>
              </ng-container>
            </ng-template>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-card-actions>
</mat-card> -->
