<article
  class="min-w-60 mr-3 w-60 p-3"
  [attr.aria-labelledby]="ariaInfo.eventName"
  [attr.aria-describedby]="ariaInfo.eventDescription"
  [attr.aria-setsize]="ariaSetsize"
  [attr.aria-posinset]="ariaPosinset"
>
  <div class="flex text-gray-400">
    <div class="w-10/12">
      <p class="truncate text-xs font-medium">{{ eventSummary }}</p>
      <span [id]="ariaInfo.eventName" class="hidden">{{ event.name }}</span>
      <span [id]="ariaInfo.eventLocation" class="hidden">{{ event.location }}</span>
    </div>

    <div class="w-2/12 text-base font-semibold">
      <a [title]="ariaInfo.eventGamecast" [href]="event?.link" target="_blank">
        <i class="fas fa-external-link fa-xs"></i>
        <span class="sr-only">{{ ariaInfo.eventGamecast }}</span>
      </a>
    </div>
  </div>

  <div class="divide-y">
    <div class="py-2">
      <app-espn-scoreboard-card-team
        [eventStatus]="event.status"
        [isTournament]="isTournament"
        [team]="event?.teams?.away"
        [odds]="event?.odds?.awayTeamOdds"
        [isPostseason]="isPostseason"
      ></app-espn-scoreboard-card-team>
    </div>
    <div class="py-2">
      <app-espn-scoreboard-card-team
        [eventStatus]="event.status"
        [isTournament]="isTournament"
        [team]="event?.teams?.home"
        [odds]="event?.odds?.homeTeamOdds"
        [isPostseason]="isPostseason"
      ></app-espn-scoreboard-card-team>
    </div>
  </div>
</article>

<!-- <mat-card-actions style="display: none">
    <span class="event-summary" *ngIf="!eventInProgress && isTournament"> {{ event?.seriesSummary }}</span>
   <ng-container *ngIf="eventInProgress"> 
    <ng-container *ngIf="false">
      <mat-accordion [multi]="true">
        <mat-expansion-panel [expanded]="isEventToggled" class="mat-elevation-z0" (opened)="toggleExpansionPanel(event.id)" (closed)="toggleOffExpansionPanel(event.id)">
          <mat-expansion-panel-header>
            <mat-panel-description>View</mat-panel-description>
          </mat-expansion-panel-header>
          <div [ngSwitch]="event?.leagueId">
            <ng-template [ngSwitchCase]="league.MLB">
              <ng-container>
                <app-espn-fastcast-event-mlb [event]="event"></app-espn-fastcast-event-mlb>
              </ng-container>
            </ng-template>
            <ng-template [ngSwitchDefault]>
              <ng-container *ngIf="!event.completed || !event.isHalftime || (event.completed && !isTournament)">
                <span [id]="ariaInfo.eventLastPlay" class="event-summary" *ngIf="!event.completed || (event.completed && !isTournament)">
                  {{ event?.lastPlay?.text }}
                </span>
              </ng-container>
            </ng-template>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-card-actions>
</mat-card> -->
