<app-page-layout>
  <div statsHeader></div>

  <div main>
    <div class="flex flex-wrap">
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-8/12">
        <app-base-card>
          <app-chart-line height="350px" [chartData]="batterBarData$ | async"></app-chart-line>
        </app-base-card>
      </div>
      <div class="w-full px-4 xl:w-4/12">
        <app-base-card>
          <app-chart-bar height="350px" [chartData]="batterBarData$ | async"></app-chart-bar>
        </app-base-card>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full px-4 xl:w-3/12">
        <app-base-card>
          <app-refresh-btn (refreshButtonClicked)="onRefreshClick()"></app-refresh-btn>

          <div>
            <app-dropdown-filter
              ariaLabel="scoring period options"
              [selectedOption]="scoringPeriodId$ | async"
              title="Stat Period"
              [filterItems]="scoringPeriodFilters$ | async"
              (filterUpdate)="scoringPeriodIdChange($event)"
            ></app-dropdown-filter>
          </div>
          <div>
            <app-dropdown-filter
              ariaLabel="league rosters options"
              [selectedOption]="selectedLeagueTeam$ | async"
              title="League Rosters"
              [filterItems]="fantasyBaseballTeamFacade.teamListFilterOptions$ | async"
              (filterUpdate)="onSelectedLeagueTeamChange($event)"
            ></app-dropdown-filter>
          </div>
          <div>
            <app-dropdown-filter
              ariaLabel="batter stat options"
              [selectedOption]="selectedBatterStat$ | async"
              title="Batter Stats"
              [filterItems]="BATTER_STATS_LIST"
              (filterUpdate)="onBatterStatChange($event)"
            ></app-dropdown-filter>
          </div>
          <div>
            <app-dropdown-filter
              ariaLabel="pitcher stat options"
              [selectedOption]="selectedPitcherStat$ | async"
              title="Pitcher Stats"
              [filterItems]="PITCHER_STATS_LIST"
              (filterUpdate)="onPitcherStatChange($event)"
            ></app-dropdown-filter>
          </div>

          <div>
            <app-multi-select
              ariaLabel="player-availability-options-"
              title="Player Availability"
              [selectedOption]="toggledAvailabilityStatusIds$ | async"
              [filterItems]="PLAYER_AVAILABILITY_FILTER"
              (filterUpdate)="onPlayerAvailabilityChange($event)"
            >
            </app-multi-select>
          </div>
          <div>
            <app-multi-select
              ariaLabel="batter-lineup-slots-"
              title="Batter Lineup Slot"
              [selectedOption]="toggledLineupSlotIds$ | async"
              [filterItems]="BATTING_LINEUP_SLOTS"
              (filterUpdate)="onBattingSlotIdChange($event)"
            >
            </app-multi-select>
          </div>
          <!-- <div>
            <app-dropdown-filter
              ariaLabel="batter lineup slots"
              [selectedOption]="selectedBattingSlots$ | async"
              title="Batter Lineup Slot"
              [filterItems]="BATTING_LINEUP_SLOTS"
              (filterUpdate)="onBattingSlotIdChange($event)"
            ></app-dropdown-filter>
          </div> -->
          <div>
            <app-dropdown-filter
              ariaLabel="pitcher lineup slots"
              [selectedOption]="selectedPitchingSlots$ | async"
              title="Pitcher Lineup Slot"
              [filterItems]="PITCHING_LINEUP_SLOTS"
              (filterUpdate)="onPitchingSlotIdChange($event)"
            ></app-dropdown-filter>
          </div>
        </app-base-card>
      </div>
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-9/12">
        <app-base-card>
          <app-espn-stats-table
            [data]="compareTeamAndFreeAgentBatterList$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="MLB_STAT_MAP"
            (playerClicked)="onPlayerClick($event)"
          >
          </app-espn-stats-table>
        </app-base-card>

        <app-base-card>
          <app-espn-stats-table
            [data]="compareTeamAndFreeAgentPitcherList$ | async"
            [dataColumns]="(pitcherTableConfig$ | async).rows"
            [headers]="(pitcherTableConfig$ | async).headers"
            [statsMap]="MLB_STAT_MAP"
            (playerClicked)="onPlayerClick($event)"
          >
          </app-espn-stats-table>
        </app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
