.example-team-row mat-col {
  border-bottom-width: 0;
}

.example-team-detail {
  overflow: hidden;
  display: flex;
}

.example-team-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-team-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-team-description {
  padding: 16px;
}
