<!-- <div style="padding: 10px 0"></div> -->

<!-- <mat-button-toggle-group #group="matButtonToggleGroup" [value]="viewOptions" (change)="updateView($event)">
  <mat-button-toggle value="battingStatsRoto" ariaLabelledby="Card View"> Batting Roto </mat-button-toggle>
  <mat-button-toggle value="pitchingStatsRoto" ariaLabelledby="Card View"> Pitching Roto </mat-button-toggle>
  <mat-button-toggle value="battingStats" ariaLabelledby="Card View"> Batter Stats</mat-button-toggle>
  <mat-button-toggle value="pitchingStats" ariaLabelledby="Card View"> Pitching Stats</mat-button-toggle>
</mat-button-toggle-group> -->

<!-- <div style="padding: 10px 0"></div> -->

<mat-card>
  <mat-card-content>
    <app-scrollable-table>
      <table class="ui-w-100" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort matSortDisableClear>
        <!-- <ng-container [matColumnDef]="teamColumn.name" sticky>
          <th mat-header-cell *matHeaderCellDef>Team</th>
          <td mat-cell *matCellDef="let team">
            <app-sticky-table-cell>
              <app-team-info-col [team]="team"></app-team-info-col>
            </app-sticky-table-cell>
          </td>
        </ng-container> -->
        <ng-container *ngFor="let col of dataColumns">
          <ng-container [matColumnDef]="col?.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col?.headerLabel }}</th>
            <td mat-cell *matCellDef="let data">{{ col?.cellData(data) }}</td>
          </ng-container>
        </ng-container>

        <!-- <ng-container [matColumnDef]="rotoColumn.run">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>R</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.r }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.homeRun">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>HR</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.hr }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.rbi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>RBI</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.rbi }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.sb">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SB</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.sb }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.avg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>avg</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.avg }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.battingTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>battingTotal ( / 50)</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.totalBattingRoto }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.strikeOut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>K</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.k }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.win">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>W</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.w }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.save">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SV</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.sv }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.era">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>era</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.era }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="rotoColumn.whip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>whip</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.rotoStats.whip }}
          </td>
        </ng-container>

        <ng-container [matColumnDef]="rotoColumn.pitchingTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>pitchingTotal</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.totalPitchingRoto }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.hits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>h</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.h }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.run">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>r</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.r }}<br />
            {{ team?.stats.r / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.homeRun">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>hr</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.hr }}<br />
            {{ team?.stats.hr / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.rbi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>rbi</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.rbi }}<br />
            {{ team?.stats.rbi / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.sb">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>sb</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.sb }}<br />
            {{ team?.stats.sb / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.avg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>avg</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.avg }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.strikeOut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>strikeOut</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.k }}<br />
            {{ team?.stats.k / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.win">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>W</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.w }}<br />
            {{ team?.stats.w / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.save">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>save</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.sv }}<br />
            {{ team?.stats.sv / scoringPeriod | number: '1.0-3' }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="statsColumn.whip">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>WHIP</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.stats.whip }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="teamColumn.liveScore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Live</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.liveScore }}
          </td>
        </ng-container>
        <ng-container [matColumnDef]="teamColumn.totalPoints">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
          <td mat-cell *matCellDef="let team">
            {{ team?.totalPoints }}
          </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let team; columns: headers"></tr>
      </table>
    </app-scrollable-table>
  </mat-card-content>
</mat-card>
