<app-page-layout>
  <div sidebar class="flex flex-col">
    <div>
      <app-login
        [isFormValid]="isFormValid$ | async"
        (signInClicked)="onSignIn()"
        (passwordInputChanged)="passwordInputChange($event)"
        (emailInputChanged)="emailInputChange($event)"
      ></app-login>
    </div>
    <div>
      <mat-card>
        <mat-card-content>
          <div class="flex flex-col text-center" style="align-items: center">
            <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" style="border-radius: 50%" width="150" /> -->
            <div class="mt-3">
              <p>Email: {{ (userEmail$ | async) ?? 'No Email' }}</p>

              <h4>John Doe</h4>
              <p class="text-secondary mb-1">Full Stack Developer</p>
              <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
              <button class="btn btn-primary">Follow</button>
              <button class="btn btn-outline-primary">Message</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div main class="flex flex-col gap-20">
    <app-leagues-table
      [data]="allLeagues$ | async"
      [rows]="LEAGUE_ROWS"
      [headers]="LEAGUE_HEADERS"
      (addLeague)="onAddLeague()"
      (removeLeague)="onRemoveLeague($event)"
      (navigateToLeague)="onNavigateToLeague($event)"
    ></app-leagues-table>
  </div>
</app-page-layout>
