<mat-toolbar style="background-color: #205493; color: #ffffff">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="UrlBuilder.espnBaseUrl">ESPN</button>
    <button mat-menu-item [matMenuTriggerFor]="dfs">DFS</button>
  </mat-menu>

  <mat-menu #espn="matMenu">
    <button mat-menu-item [routerLink]="UrlBuilder.espnMlbBase" disabled>NFL</button>
    <button disabled mat-menu-item [routerLink]="UrlBuilder.espnMlbBase" disabled>MLB</button>
  </mat-menu>

  <mat-menu #dfs="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="dfsNflSite">NFL</button>
    <button mat-menu-item disabled [matMenuTriggerFor]="dfsNbaSite">NBA</button>
    <button mat-menu-item disabled [matMenuTriggerFor]="dfsMlbSite">MLB</button>
  </mat-menu>

  <mat-menu #dfsNflSite="matMenu">
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'nfl', site: 'draftkings' }">DK</button>
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'nfl', site: 'fanduel' }">FD</button>
  </mat-menu>

  <mat-menu #dfsMlbSite="matMenu">
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'mlb', site: 'draftkings' }">DK</button>
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'mlb', site: 'fanduel' }">FD</button>
  </mat-menu>

  <mat-menu #dfsNbaSite="matMenu">
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'nba', site: 'draftkings' }">DK</button>
    <button mat-menu-item [routerLink]="UrlBuilder.dfsBase" [queryParams]="{ sport: 'nba', site: 'fanduel' }">FD</button>
  </mat-menu>

  <span>{{ pageTitle }}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <ng-container *ngIf="shellFacade.showFastcastScoreboard$ | async">
    <app-espn-scoreboard></app-espn-scoreboard>
  </ng-container>
  <ng-content></ng-content>
</div>
