/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container,
.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}

@media all and (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  header,
  footer {
    width: 100%;
  }
  main {
    flex: 2;
    order: 2;
    min-height: 80vh;
  }

  .left-sidebar {
    order: 1;
    flex: 1;
  }
  .right-sidebar {
    flex: 1;
    order: 3;
  }
  footer {
    order: 4;
  }
}
