<mat-toolbar style="background-color: #205493; color: #ffffff">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/espn/mlb']">
      <span>Espn MLB</span>
    </button>
    <button mat-menu-item [routerLink]="['/espn/nfl']">
      <span>Espn NFL</span>
    </button>
    <button mat-menu-item (click)="(dfsMlbConfig)">
      <span>DraftKings MLB</span>
    </button>
    <button mat-menu-item (click)="(dfsNflConfig)">
      <span>DraftKings NFL</span>
    </button>
  </mat-menu>
  <span>{{ pageTitle }}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <ng-content></ng-content>
</div>
