<div fxLayout="row" [ngStyle]="{ opacity: opacity }">
  <div fxFlex="75%">
    <div fxLayout="row" fxLayoutGap="5px">
      <div>
        <img class="game-team-logo" height="40px" [alt]="team?.name" [src]="team?.logo" />
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <div class="ui-font-weight-bold" [ngStyle]="{ color: team.color }">
          <small style="margin-right: 5px" [hidden]="noTeamRank">{{ team?.rank }}</small
          >{{ team?.name }}
        </div>
        <div>
          <ng-container *ngIf="!isTournament; else tournamentAggregate">
            <small>{{ team?.record }}</small>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="end center" style="text-align: right">
    <div fxLayout="column" fxLayoutGap="5px">
      <div class="game-score-item">
        <span [class.game-score-winner]="team?.isWinner" [hidden]="isPregame"> {{ team?.score }}</span>
      </div>
    </div>
  </div>
  <div fxFlex="5%" fxLayoutAlign="center center">
    <div>
      <mat-icon>{{ team?.isWinner ? 'arrow_left' : '' }}</mat-icon>
    </div>
  </div>
</div>
<ng-template #tournamentAggregate>
  <small>Aggregate: {{ team?.aggregateScore }}</small>
</ng-template>
