.wrapper {
  display: flex;
  flex-direction: column;
  flex: 75% 20% 5%;
}

.team-wrapper {
  display: flex;
  flex-direction: row;
}

.team-info-wrapper {
  display: flex;
  flex-direction: column;
  flex: 25% 75%;
}

.game-score-item {
  font-weight: bold;
  font-size: 25px;
}

.game-team-logo {
  width: 45px;
}

mat-icon {
  vertical-align: middle;
}
