<div class="flex-row" [ngStyle]="{ opacity: opacity }">
  <div style="flex: 75%">
    <div class="flex-row gap-5">
      <div>
        <img class="game-team-logo" [alt]="team?.name" [src]="team?.logo" />
      </div>
      <div class="flex-col gap-5">
        <div class="ui-font-weight-bold" [ngStyle]="{ color: team.color }">
          <span style="margin-right: 5px" [hidden]="noTeamRank">{{ team?.rank }}</span
          >{{ team?.name }}
        </div>
        <div [ngStyle]="{ color: team.color }">
          <ng-container *ngIf="!isTournament; else tournamentAggregate"> {{ team?.record }}</ng-container>
        </div>
      </div>
    </div>
  </div>

  <div style="flex: auto; place-content: center flex-end; align-items: center">
    <div class="game-score-item" [ngStyle]="{ color: team.color }">
      <span [class.game-score-winner]="team?.isWinner" [hidden]="isPregame"> {{ team?.score }}</span>
    </div>
  </div>
  <div style="flex: 5%; align-content: center; justify-content: center" [ngStyle]="{ color: team.color }">
    <div class="game-score-item">
      <span [class.game-score-winner]="team?.isWinner" [hidden]="isPregame"> {{ team?.score }}</span>
    </div>
  </div>
  <div style="align-content: center; justify-content: center">
    <mat-icon>{{ team?.isWinner ? 'arrow_left' : '' }}</mat-icon>
  </div>
</div>

<ng-template #tournamentAggregate>
  <small>Aggregate: {{ team?.aggregateScore }}</small>
</ng-template>
