<app-page-layout>
  <div statsHeader></div>
  <div main>
    <div class="flex flex-wrap">
      <div class="w-full px-4 xl:w-3/12">
        <app-base-card
          ><app-dropdown-filter
            ariaLabel="scpring period options"
            [selectedOption]="scoringPeriodId$ | async"
            title="Stat Period"
            [filterItems]="scoringPeriodFilterOptions$ | async"
            (filterUpdate)="scoringPeriodIdChange($event)"
          ></app-dropdown-filter>

          <div class="mt-2"></div>

          <app-dropdown-filter
            ariaLabel="position options"
            [selectedOption]="selectedLineupSlotId$ | async"
            title="Position"
            [filterItems]="LINEUP_SLOTS"
            (filterUpdate)="onLineupFilterSlotIdChange($event)"
          ></app-dropdown-filter>

          <div class="mt-2"></div>

          <app-dropdown-filter
            ariaLabel="team options"
            [selectedOption]="selectedTeamId$ | async"
            title="Teams"
            [filterItems]="teamFilterOptions$ | async"
            (filterUpdate)="onTeamFilterOptionChange($event)"
          ></app-dropdown-filter
        ></app-base-card>
      </div>
      <div class="w-full px-4 xl:w-9/12">
        <app-base-card>
          <app-espn-stats-table
            [data]="tableData$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="FOOTBALL_STATS_MAP"
          >
          </app-espn-stats-table
        ></app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
