<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex>
        <mat-button-toggle-group class="small" #group="matButtonToggleGroup" [value]="viewOptions">
            <mat-button-toggle value="l7" ariaLabelledby="Card View" (change)="updateView($event)">
                l7 </mat-button-toggle>
            <mat-button-toggle value="l15" ariaLabelledby="Card View" (change)="updateView($event)">
                l15 </mat-button-toggle>
            <mat-button-toggle value="l30" ariaLabelledby="Card View" (change)="updateView($event)">
                l30 </mat-button-toggle>
        </mat-button-toggle-group>


        <mat-card>
            <mat-card-content>


                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="lineupSlot">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Lineup</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <small>{{player.lineupSlot}}</small>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>player</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <app-player-info-col [player]="player"></app-player-info-col>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="statsL7.h">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>h/ab</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.h}}/{{player.statsL7.ab}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL7.avg">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>avg</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.avg | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL7.obp">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>obp</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.obp | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL7.ops">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ops</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.ops | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="statsL7.slg">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>slg</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.slg | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wOBA7">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>wOBAL7</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.wOBA7 | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL7.rc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>runs created</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL7.rc | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL15.h">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>h/ab</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.h}}/{{player.statsL15.ab}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL15.avg">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>avg</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.avg | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL15.obp">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>obp</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.obp | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="statsL15.ops">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ops</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.ops | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="statsL15.slg">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>slg</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.slg | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wOBA15">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>wOBAL15</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.wOBA15 | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="statsL15.rc">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>runs created</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.statsL15.rc | number}}
                        </mat-cell>
                    </ng-container>

                    <!--      <ng-container matColumnDef="injuryStatus">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Injury</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <small style="color: #d9534f;">
                                {{player.injuryStatus}}
                            </small>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wRAA">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>wRAA</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.wRAA | number}}
                        </mat-cell>
                    </ng-container>

                    
                    <ng-container matColumnDef="babip2020">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>babip 2020</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.babip2020 | number}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="wOBA2020">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>wOBA 2020</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.wOBA2020 | number}}
                        </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="ratingsL7.totalRating">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ratingsL7</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <app-player-rating-col [player]="player" key="ratingsL7.totalRating">
                            </app-player-rating-col>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ratingsL15.totalRating">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ratingsL15</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <app-player-rating-col [player]="player" key="ratingsL15.totalRating">
                            </app-player-rating-col>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="totalRatingSeason">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>2021</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.totalRatingSeason | number}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="positionalRankingSeason">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Position Rank</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.positionalRankingSeason}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ownershipChange">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ownershipChange</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            <app-player-rating-col [player]="player" key="ownershipChange"></app-player-rating-col>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="percentOwned">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>percentOwned</mat-header-cell>
                        <mat-cell *matCellDef="let player">
                            {{player.percentOwned| number}}
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                    <mat-row *matRowDef="let rowData; columns: tableColumns">
                    </mat-row>
                </mat-table>


            </mat-card-content>
        </mat-card>
    </div>

    <!-- <div fxFlex>

        <app-player *ngIf="playerNews" [playerNews]="playerNews"></app-player>

    </div> -->
</div>
<!-- <div style="padding-top:10px;display: block; height: 300px;" *ngIf="fantasyPlayers">

    <canvas baseChart style="display: block; height: 300px; width: 500px;" [legend]="teamChart.chartLegend"
        [datasets]="teamChart.chartData" [options]="chartOptions" [labels]="teamChart.chartLabels"
        [chartType]="teamChart.chartType"></canvas>
</div> -->