/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply m-0 h-full bg-slate-200 font-sans;
  }

  a:hover,
  a:active,
  a:focus {
    @apply text-sky-700;
  }

  .mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: #ffffff;
    --mdc-snackbar-supporting-text-color: #ffffff;

    &.error {
      --mdc-snackbar-container-color: #ef4444;
    }

    &.success {
      --mdc-snackbar-container-color: #43a446;
    }

    &.warning {
      --mdc-snackbar-container-color: #43a446;
    }
  }

  /*
  * @link https://vega.github.io/vega/docs/schemes/#redyellowblue
  */
  .status-indicator {
    @apply font-bold;

    &.excellent {
      background-color: #5c8cc0;
      @apply text-white;
    }

    &.great {
      background-color: #a3d0e5;
      @apply text-white;
    }

    &.above-avg {
      background-color: #e5f3e0;
      @apply text-black;
    }
    &.avg {
      background-color: #faf8c1;
      @apply text-black;
    }

    &.below-avg {
      background-color: #fed185;
      @apply text-black;
    }

    &.poor {
      background-color: #f78d54;
      @apply text-white;
    }

    &.awful {
      background-color: #db4132;
      @apply text-white;
    }
  }
}
