/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

a:hover,
a:active,
a:focus {
  color: #0e67b3;
}

.gap {
  display: flex;

  &-5 {
    gap: 5px;
  }

  &-10 {
    gap: 10px;
  }

  &-15 {
    gap: 15px;
  }

  &-20 {
    gap: 20px;
  }

  &-25 {
    gap: 25px;
  }
}

.flex {
  display: flex;

  &-col {
    @extend .flex;
    flex-direction: column;
    justify-content: center;
  }

  &-row {
    @extend .flex;
    flex-direction: row;
    width: 100%;
  }
}

#global-scoreboard .wrap {
  margin: 0 auto;
  max-width: 1400px;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f5f6f6;
}

.ui-font-weight-bold {
  font-weight: bold;
}

.ui-margin-auto {
  margin: auto;
}

.ui-w-100 {
  width: 100%;
}

.mat-simple-snackbar-action {
  color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.status-indicator {
  font-weight: bold;
  &.excellent {
    background-color: #00876c;
    color: whitesmoke;
  }

  &.great {
    background-color: #71a879;
    color: whitesmoke;
  }

  &.above-avg {
    background-color: #b6c794;
    color: whitesmoke;
  }
  &.avg {
    background-color: #f4e8bc;
    color: whitesmoke;
  }

  &.below-avg {
    background-color: #eab780;
    color: whitesmoke;
  }

  &.poor {
    background-color: #e2805b;
    color: whitesmoke;
  }

  &.awful {
    background-color: #d43d51;
    color: whitesmoke;
  }
}
