/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f5f6f6;
}

.ui-font-weight-bold {
  font-weight: bold;
}

.ui-margin-auto {
  margin: auto;
}

.ui-w-100 {
  width: 100%;
}

.mat-simple-snackbar-action {
  color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.status-indicator {
  font-weight: bold;
  &.excellent {
    background-color: #00876c;
    color: whitesmoke;
  }

  &.great {
    background-color: #71a879;
    color: whitesmoke;
  }

  &.above-avg {
    background-color: #b6c794;
    color: whitesmoke;
  }
  &.avg {
    background-color: #f4e8bc;
    color: whitesmoke;
  }

  &.below-avg {
    background-color: #eab780;
    color: whitesmoke;
  }

  &.poor {
    background-color: #e2805b;
    color: whitesmoke;
  }

  &.awful {
    background-color: #d43d51;
    color: whitesmoke;
  }
}
