<nav
  class="
    relative
    z-10
    flex flex-wrap
    items-center
    justify-between
    bg-white
    py-4
    px-6
    shadow-xl
    md:fixed md:left-0 md:top-0 md:bottom-0 md:block md:w-64 md:flex-row md:flex-nowrap md:overflow-hidden md:overflow-y-auto
  "
>
  <div class="mx-auto flex w-full flex-wrap items-center justify-between px-0 md:min-h-full md:flex-col md:flex-nowrap md:items-stretch">
    <!-- Toggler -->
    <button
      class="cursor-pointer rounded border border-solid border-transparent bg-transparent px-3 py-1 text-xl leading-none text-black opacity-50 sm:hidden"
      type="button"
      (click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Brand -->
    <a [routerLink]="['/my-profile']" class="mr-0 inline-block whitespace-nowrap p-4 px-0 text-left text-sm font-bold uppercase text-blue-600 md:block md:pb-2">
      <span class="block sm:hidden">{{ appTitle }}</span>
      <span class="hidden sm:block">{{ appTitle }}</span>
    </a>
    <!-- User -->
    <ul class="flex list-none flex-wrap items-center sm:hidden">
      <li class="relative inline-block"></li>
      <li class="relative inline-block"></li>
    </ul>
    <!-- Collapse -->
    <div
      class="
        absolute
        top-0
        left-0
        right-0
        z-40
        h-auto
        flex-1
        items-center
        overflow-y-auto overflow-x-hidden
        rounded
        shadow
        md:relative md:mt-4 md:flex md:flex-col md:items-stretch md:opacity-100 md:shadow-none
      "
      [ngClass]="collapseShow"
    >
      <!-- Collapse header -->
      <div class="mb-4 block border-b border-solid border-blue-200 pb-4 sm:hidden md:min-w-full">
        <div class="flex flex-wrap">
          <div class="w-6/12">
            <a
              [routerLink]="['/']"
              ariaCurrentWhenActive="page"
              routerLinkActive="text-red-600"
              class="mr-0 inline-block whitespace-nowrap p-4 px-0 text-left text-sm font-bold uppercase text-blue-600 md:block md:pb-2"
            >
              {{ appTitle }}
            </a>
          </div>
          <div class="flex w-6/12 justify-end">
            <button
              type="button"
              class="cursor-pointer rounded border border-solid border-transparent bg-transparent px-3 py-1 text-xl leading-none text-black opacity-50 sm:hidden"
              (click)="toggleCollapseShow('hidden')"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <!-- <form class="mt-6 mb-4 sm:hidden">
        <div class="mb-3 pt-0">
          <input
            type="text"
            placeholder="Search"
            class="
              h-12
              w-full
              rounded
              border-0 border-solid border-blue-500
              bg-white
              px-3
              py-2
              text-base
              font-normal
              leading-snug
              text-blue-600
              placeholder-blue-300
              shadow-none
              outline-none
              focus:outline-none
            "
          />
        </div>
      </form> -->

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6 class="block pt-1 pb-4 text-xs font-bold uppercase text-blue-500 no-underline md:min-w-full">Daily Fantasy</h6>
      <!-- Navigation -->

      <ul class="flex list-none flex-col md:min-w-full md:flex-col">
        <li class="items-center" *ngFor="let menuItem of routerFacade.dailyFantasyMenu$ | async">
          <a [routerLink]="menuItem.routerLink" [queryParams]="menuItem.queryParams" class="block py-3 text-xs font-bold uppercase">
            {{ menuItem.label }}
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="my-4 md:min-w-full" />
      <!-- Heading -->
      <h6 class="block pt-1 pb-4 text-xs font-bold uppercase text-blue-500 no-underline md:min-w-full">Espn League</h6>
      <!-- Navigation -->

      <ul class="flex list-none flex-col md:mb-4 md:min-w-full md:flex-col">
        <li class="items-center" *ngFor="let menuItem of routerFacade.espnFantasyMenu$ | async">
          <a [routerLink]="menuItem.routerLink" [queryParams]="menuItem.queryParams" class="block py-3 text-xs font-bold uppercase">
            {{ menuItem.label }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
