.status-indicator {
  font-weight: bold;
  &.excellent {
    background-color: #00876c;
    color: whitesmoke;
  }

  &.great {
    background-color: #71a879;
    color: whitesmoke;
  }

  &.above-avg {
    background-color: #b6c794;
    color: whitesmoke;
  }
  &.avg {
    background-color: #f4e8bc;
    color: whitesmoke;
  }

  &.below-avg {
    background-color: #eab780;
    color: whitesmoke;
  }

  &.poor {
    background-color: #e2805b;
    color: whitesmoke;
  }

  &.awful {
    background-color: #d43d51;
    color: whitesmoke;
  }
}

// #00876c
// #499871
// #71a879
// #95b885
// #b6c794
// #d6d8a6
// #f4e8bc
// #eed09c
// #eab780
// #e69c6a
// #e2805b
// #dd6152
// #d43d51

// #00876c
// #71a879
// #b6c794
// #f4e8bc
// #eab780
// #e2805b
// #d43d51
