<app-page-layout>
  <div statsHeader>
    <app-espn-team-header [team]="fantasyBaseballTeamFacade.teamInfo$ | async"></app-espn-team-header>
    <div class="w-full px-4 xl:w-4/12">
      <app-toggle title="Live Stats" textColor="text-white" (selectChange)="onLiveScoreChange($event)"></app-toggle>
    </div>
  </div>
  <div main>
    <div class="flex flex-wrap">
      <!-- <div class="w-full px-4 xl:w-4/12">
        <app-base-card>
          <div class="flex flex-1 flex-col gap-5 sm:flex-row">
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="scoring period options"
                [selectedOption]="statPeriod$ | async"
                title="Stat Period"
                [filterItems]="scoringPeriodFilters$ | async"
                (filterUpdate)="onScoringPeriodIdChange($event)"
              ></app-dropdown-filter>
            </div>
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="batter stats options"
                [selectedOption]="selectedBatterStatXAxis$ | async"
                title="batter stats x"
                [filterItems]="BATTER_STATS_LIST_OPTIONS"
                (filterUpdate)="onBatterStatXAxisChange($event)"
              ></app-dropdown-filter>
            </div>
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="batter stats options"
                [selectedOption]="selectedBatterStatYAxis$ | async"
                title="batter stats y"
                [filterItems]="BATTER_STATS_LIST_OPTIONS"
                (filterUpdate)="onBatterStatYAxisChange($event)"
              ></app-dropdown-filter>
            </div>
          </div>
          <app-chart-scatter
            height="350px"
            [xAxisLabel]="selectedBatterStatXAxisLabel$ | async"
            [yAxisLabel]="selectedBatterStatYAxisLabel$ | async"
            ariaLabel="batter stats scatter chart"
            [chartData]="batterScatterData$ | async"
          ></app-chart-scatter>
        </app-base-card>
        <app-chart-bar height="350px" ariaLabel="" [chartData]="batterBarData$ | async"></app-chart-bar>
      </div> -->

      <div class="w-full px-4 xl:w-4/12">
        <app-base-card *ngIf="(startingBatters$ | async).length > 0">
          <app-baseball-lineup-card
            title="Starting Lineup"
            [isLoading]="isLoading$ | async"
            [lineup]="startingBatters$ | async"
            [isLive]="isLiveScore$ | async"
            (playerClicked)="onPlayerClick($event)"
            (refreshClicked)="onRefreshClick()"
          ></app-baseball-lineup-card>
        </app-base-card>

        <div class="my-3"></div>
        <app-base-card *ngIf="(benchBatters$ | async).length > 0">
          <app-baseball-lineup-card
            title="Bench"
            [isLoading]="isLoading$ | async"
            [lineup]="benchBatters$ | async"
            [isLive]="isLiveScore$ | async"
            (playerClicked)="onPlayerClick($event)"
            (refreshClicked)="onRefreshClick()"
          ></app-baseball-lineup-card>
        </app-base-card>

        <div class="my-3"></div>
        <app-base-card *ngIf="(injuredBatters$ | async).length > 0">
          <app-baseball-lineup-card
            title="Bench"
            [isLoading]="isLoading$ | async"
            [lineup]="injuredBatters$ | async"
            [isLive]="isLiveScore$ | async"
            (playerClicked)="onPlayerClick($event)"
            (refreshClicked)="onRefreshClick()"
          ></app-baseball-lineup-card>
        </app-base-card>
      </div>
      <div class="w-full px-4 xl:w-4/12">
        <app-base-card *ngIf="(startingPitchers$ | async).length > 0">
          <app-baseball-lineup-card
            title="Starting Pitchers"
            [isLoading]="isLoading$ | async"
            [lineup]="startingPitchers$ | async"
            [isLive]="isLiveScore$ | async"
            (playerClicked)="onPlayerClick($event)"
            (refreshClicked)="onRefreshClick()"
          ></app-baseball-lineup-card>
        </app-base-card>

        <div class="my-3"></div>
        <app-base-card *ngIf="(benchPitchers$ | async).length > 0">
          <app-baseball-lineup-card
            title="Bench"
            [isLoading]="isLoading$ | async"
            [lineup]="benchPitchers$ | async"
            [isLive]="isLiveScore$ | async"
            (playerClicked)="onPlayerClick($event)"
            (refreshClicked)="onRefreshClick()"
          ></app-baseball-lineup-card>
        </app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
