<div class="bg-white shadow">
  <div class="mx-auto p-4">
    <div class="flex h-14 cursor-pointer flex-row justify-center hover:bg-gray-100 focus:bg-gray-100" *ngFor="let team of teams">
      <div class="basis-3/4">
        <img class="inline-block h-10 w-10 rounded-full ring-2" [src]="team?.logo" [alt]="team?.name" />
        <span class="text-base">{{ team?.name }}</span>
      </div>
      <div class="basis-1/4 content-center items-center font-bold">
        <span class="mr-3 text-xs" [title]="getTooltipText(team)" [matTooltip]="getTooltipText(team)" [ngStyle]="{ color: getColor(team) }">
          {{ team?.liveScore - team?.totalPoints > 0 ? '+' : '' }}{{ team?.liveScore - team?.totalPoints === 0 ? '' : team?.liveScore - team?.totalPoints }}
        </span>
        {{ team?.liveScore }}
      </div>
    </div>
  </div>
</div>
