<mat-card>
  <mat-card-header title="Live Scoreboard">
    <mat-card-title>Live Scoreboard</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a [title]="team.name" mat-list-item (click)="viewTeam(team.id)" *ngFor="let team of teams">
        <span class="point-differential" [title]="getTooltipText(team)" [matTooltip]="getTooltipText(team)" [ngStyle]="{ color: getColor(team) }">
          {{ team.liveScore - team.totalPoints > 0 ? '+' : '' }}{{ team.liveScore - team.totalPoints === 0 ? '' : team.liveScore - team.totalPoints }}
        </span>
        {{ team.liveScore }}
        <img matListAvatar [src]="team.logo" [alt]="team.name" />
        <h3 matLine>{{ team.name }}</h3>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
