<app-base-card>
  <div class="mb-4 flex items-center justify-between">
    <div class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
      <app-refresh-btn [isLoading]="isLoading" (refreshButtonClicked)="onRefreshClick()"></app-refresh-btn>
    </div>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700" *ngFor="let team of teams">
      <li class="cursor-pointer py-3" (click)="viewTeam(team.id)">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img class="h-8 w-8 rounded-full" role="img" [src]="team?.logo" [alt]="team?.name" />
          </div>
          <div class="min-w-0 flex-1">
            <p class="truncate text-sm font-medium text-gray-900 dark:text-white">{{ team?.name }}</p>
          </div>
          <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">{{ team?.liveScore }}</div>
        </div>
      </li>
    </ul>
  </div>
</app-base-card>
