<div>
  <app-dropdown-filter title="Stats" [filterItems]="xAxisFilterOptions" (filterUpdate)="filterChange($event)"></app-dropdown-filter>

  <!-- <mat-form-field>
    <mat-label>xAxis</mat-label>
    <mat-select #xAxisFilter (selectionChange)="filterChange(xAxisFilter.value, AxisFilter.xAxis)">
      <mat-option value="">Reset</mat-option>
      <mat-option *ngFor="let item of xAxisFilterOptions" [value]="item.value">{{ item.label }}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- <mat-form-field *ngIf="yAxisFilterOptions.length > 0">
    <mat-label>yAxis</mat-label>
    <mat-select #yAxisFilter (selectionChange)="filterChange(yAxisFilter.value, AxisFilter.yAxis)">
      <mat-option value="">Reset</mat-option>
      <mat-option *ngFor="let item of yAxisFilterOptions" [value]="item.value">{{ item.label }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <div>
    <div id="myBar"></div>
  </div>
</div>
