.tip {
  .tooltip-circle {
    fill: white;
    stroke-width: 1.5px;
  }

  .hover-line {
    stroke: #f26b4c;
    stroke-width: 1.5px;
    stroke-dasharray: 2, 2;
  }

  .tip-background {
    fill: white;
    stroke-width: 1px;
    stroke: #bbc2cd;
  }
}
