<app-page-layout>
  <div sidebar>
    <mat-card>
      <mat-card-content>
        <app-dropdown-filter
          [isMobile]="isMobile$ | async"
          [selectedOption]="scoringPeriodId$ | async"
          title="Stat Period"
          [filterItems]="statPeriodFilterOptions$ | async"
          (filterUpdate)="scoringPeriodIdChange($event)"
        ></app-dropdown-filter>
      </mat-card-content>
    </mat-card>
    <div style="margin: 10px 0"></div>

    <mat-card>
      <mat-card-content>
        <label id="lineup-slot-label">Lineup Slot</label>
        <mat-radio-group aria-labelledby="lineup-slot-label">
          <mat-radio-button
            (change)="onLineupFilterSlotIdChange($event.value)"
            *ngFor="let slot of LINEUP_SLOTS"
            [aria-label]="FOOTBALL_LINEUP_SLOT_MAP[slot].name"
            [value]="slot"
          >
            {{ FOOTBALL_LINEUP_SLOT_MAP[slot].name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div main>
    <app-espn-stats-table
      [data]="tableData$ | async"
      [dataColumns]="(tableConfig$ | async).rows"
      [headers]="(tableConfig$ | async).headers"
      [statsMap]="FOOTBALL_STATS_MAP"
    >
    </app-espn-stats-table>
  </div>
</app-page-layout>
