<div>
  <div>
    <mat-card>
      <mat-card-content>
        <app-dropdown-filter
          [selectedOption]="scoringPeriodId$ | async"
          title="Stat Period"
          [filterItems]="FOOTBALL_STAT_PERIOD_FILTER_OPTIONS"
          (filterUpdate)="scoringPeriodIdChange($event)"
        ></app-dropdown-filter>
      </mat-card-content>
    </mat-card>
    <div style="margin: 10px 0"></div>

    <mat-card>
      <mat-card-content>
        <label id="lineup-slot-label">Lineup Slot</label>

        <mat-radio-group aria-labelledby="lineup-slot-label">
          <mat-radio-button
            (change)="onLineupFilterSlotIdChange($event.value)"
            *ngFor="let slot of LINEUP_SLOTS"
            [aria-label]="FOOTBALL_LINEUP_SLOT_MAP[slot].name"
            [value]="slot"
          >
            {{ FOOTBALL_LINEUP_SLOT_MAP[slot].name }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>

    <!-- <div>
      <ng-container *ngIf="fantasyBaseballLeagueFacade.isLoading$ | async; else refreshBtn">
        <mat-spinner diameter="20"></mat-spinner>
      </ng-container>
      <ng-template #refreshBtn>
        <mat-icon class="cursor-pointer" (click)="fantasyBaseballLeagueFacade.getLeague(leagueId)">refresh</mat-icon>
      </ng-template>
    </div>
    <mat-card>
      <mat-card-content>
        <div>
          <app-dropdown-filter
            [selectedOption]="scoringPeriodId"
            title="Stat Period"
            [filterItems]="BASEBALL_STAT_PERIOD_FILTER_OPTIONS"
            (filterUpdate)="scoringPeriodIdChange($event)"
          ></app-dropdown-filter>
        </div>
        <div>
          <mat-form-field>
            <mat-label>League Rosters</mat-label>
            <mat-select [(value)]="selectedLeagueTeam" (selectionChange)="onSelectedLeagueTeamChange($event.value)">
              <mat-option *ngFor="let team of fantasyBaseballTeamFacade.teamList$ | async" [value]="team.id">{{ team.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="viewingBatters; else pitchingStats">
            <mat-label>Batter Stats</mat-label>
            <mat-select [(value)]="selectedBatterStat" (selectionChange)="onBatterStatChange($event.value)">
              <mat-option *ngFor="let stat of BATTER_STATS_LIST" [value]="stat.id">{{ stat.abbrev }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <div style="margin: 10px 0"></div>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field>
            <mat-label>Player Availability</mat-label>
            <mat-select (selectionChange)="onPlayerAvailabilityStatusChange($event)">
              <mat-option value="FREEAGENT">Free Agents </mat-option>
              <mat-option value="WAIVERS">On Waivers </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field *ngIf="viewingBatters; else pitchingSlots">
            <mat-label>Batting Slots</mat-label>
            <mat-select (selectionChange)="onLineupFilterSlotIdChange($event.value)" multiple>
              <mat-option *ngFor="let slot of BATTING_LINEUP_SLOTS" [value]="slot"> {{ MLB_LINEUP_MAP[slot].name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card> -->
  </div>

  <div>
    <app-espn-stats-table
      [data]="tableData$ | async"
      [dataColumns]="(tableConfig$ | async).rows"
      [headers]="(tableConfig$ | async).headers"
      [statsMap]="FOOTBALL_STATS_MAP"
    >
    </app-espn-stats-table>
  </div>
</div>
