<app-page-layout>
  <div sidebar>
    <mat-card>
      <mat-card-content>
        <app-dropdown-filter
          [isMobile]="isMobile$ | async"
          [selectedOption]="scoringPeriodId$ | async"
          title="Stat Period"
          [filterItems]="statPeriodFilterOptions$ | async"
          (filterUpdate)="scoringPeriodIdChange($event)"
        ></app-dropdown-filter>
      </mat-card-content>
    </mat-card>
    <div style="margin: 10px 0"></div>

    <mat-card>
      <mat-card-content>
        <app-dropdown-filter
          [isMobile]="isMobile$ | async"
          [selectedOption]="selectedLineupSlotId$ | async"
          title="Position"
          [filterItems]="LINEUP_SLOTS"
          (filterUpdate)="onLineupFilterSlotIdChange($event)"
        ></app-dropdown-filter>
      </mat-card-content>
    </mat-card>
  </div>
  <div main class="flex-col">
    <div>
      <app-dropdown-filter
        [isMobile]="isMobile$ | async"
        [selectedOption]="xAxisStat$ | async"
        title="xAxis"
        [filterItems]="FOOTBALL_STATS_FILTER"
        (filterUpdate)="onAxisXChange($event)"
      ></app-dropdown-filter>
    </div>
    <div>
      <app-dropdown-filter
        [isMobile]="isMobile$ | async"
        [selectedOption]="yAxisStat$ | async"
        title="yAxis"
        [filterItems]="FOOTBALL_STATS_FILTER"
        (filterUpdate)="onAxisYChange($event)"
      ></app-dropdown-filter>
    </div>
    <app-data-vis-scatter
      title=""
      [xAxisFilterTitle]="xAxisStat$ | async"
      [yAxisFilterTitle]="yAxisStat$ | async"
      [chartData]="freeAgentsScatter$ | async"
    ></app-data-vis-scatter>
    <app-espn-stats-table
      [data]="tableDataWithTeams$ | async"
      [dataColumns]="(tableConfig$ | async).rows"
      [headers]="(tableConfig$ | async).headers"
      [statsMap]="FOOTBALL_STATS_MAP"
    >
    </app-espn-stats-table>
  </div>
</app-page-layout>
