<ng-container *ngIf="seasonConcluded$ | async">
  <div class="mb-5 w-full bg-white text-center">
    <p>Season has concluded</p>
  </div>
</ng-container>

<div class="mb-5 w-full bg-white text-center">
  <p>{{ (fantasyBaseballTeamFacade.teamInfo$ | async).name }}</p>
</div>

<app-page-layout>
  <div sidebar>
    <app-baseball-lineup-card
      title="Starting Lineup"
      [isLoading]="isLoading$ | async"
      [lineup]="startingBatters$ | async"
      (playerClicked)="onPlayerClick($event)"
      (refreshClicked)="onRefreshClick()"
    ></app-baseball-lineup-card>
    <div class="mx-3"></div>

    <app-baseball-lineup-card
      title="Bench"
      [isLoading]="isLoading$ | async"
      [lineup]="benchBatters$ | async"
      (playerClicked)="onPlayerClick($event)"
      (refreshClicked)="onRefreshClick()"
    ></app-baseball-lineup-card>
    <div class="mx-3"></div>

    <app-baseball-lineup-card
      title="Starting Pitchers"
      [isLoading]="isLoading$ | async"
      [lineup]="startingPitchers$ | async"
      (playerClicked)="onPlayerClick($event)"
      (refreshClicked)="onRefreshClick()"
    ></app-baseball-lineup-card>
  </div>
  <div main>
    <div class="flex flex-1 flex-col gap-5 sm:flex-row">
      <div class="basis-1/3">
        <app-dropdown-filter
          ariaLabel="scoring period options"
          [selectedOption]="scoringPeriodId"
          title="Stat Period"
          [filterItems]="scoringPeriodFilters$ | async"
          (filterUpdate)="onScoringPeriodIdChange($event)"
        ></app-dropdown-filter>
      </div>
    </div>

    <h3>Batting</h3>

    <div>
      <app-espn-stats-table
        [data]="tableDataBatters$ | async"
        [dataColumns]="(tableConfig$ | async).rows"
        [headers]="(tableConfig$ | async).headers"
        [statsMap]="MLB_STAT_MAP"
      >
      </app-espn-stats-table>
    </div>

    <h3>Pitching</h3>

    <app-espn-stats-table
      [data]="tableDataPitchers$ | async"
      [dataColumns]="(tableConfig$ | async).rows"
      [headers]="(tableConfig$ | async).headers"
      [statsMap]="MLB_STAT_MAP"
    >
    </app-espn-stats-table>
  </div>
</app-page-layout>
