<app-page-layout>
  <div statsHeader>
    <app-fantasy-team-header [team]="fantasyBaseballTeamFacade.teamInfo$ | async"></app-fantasy-team-header>
  </div>
  <div main>
    <div class="flex flex-wrap">
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-8/12">
        <div class="flex flex-1 flex-col gap-5 sm:flex-row">
          <div class="basis-1/3">
            <app-base-card>
              <app-dropdown-filter
                ariaLabel="scoring period options"
                [selectedOption]="statPeriod$ | async"
                title="Stat Period"
                [filterItems]="scoringPeriodFilters$ | async"
                (filterUpdate)="onScoringPeriodIdChange($event)"
              ></app-dropdown-filter>
            </app-base-card>
          </div>
          <div class="basis-1/3">
            <app-base-card>
              <app-dropdown-filter
                ariaLabel="batter stats options"
                [selectedOption]="selectedBatterStatXAxis$ | async"
                title="batter stats x"
                [filterItems]="BATTER_STATS_LIST"
                (filterUpdate)="onBatterStatXAxisChange($event)"
              ></app-dropdown-filter>
            </app-base-card>
          </div>
        </div>
        <app-chart-line height="350px" [chartData]="batterBarData$ | async"></app-chart-line>
      </div>
      <div class="w-full px-4 xl:w-4/12">
        <app-chart-bar height="350px" [chartData]="batterBarData$ | async"></app-chart-bar>
      </div>
    </div>

    <div class="mt-4 flex flex-wrap">
      <div class="w-full px-4 xl:w-3/12">
        <app-baseball-lineup-card
          title="Starting Lineup"
          [isLoading]="isLoading$ | async"
          [lineup]="startingBatters$ | async"
          (playerClicked)="onPlayerClick($event)"
          (refreshClicked)="onRefreshClick()"
        ></app-baseball-lineup-card>
        <div class="my-3"></div>
        <app-baseball-lineup-card
          title="Bench"
          [isLoading]="isLoading$ | async"
          [lineup]="benchBatters$ | async"
          (playerClicked)="onPlayerClick($event)"
          (refreshClicked)="onRefreshClick()"
        ></app-baseball-lineup-card>
      </div>
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-9/12">
        <app-espn-stats-table
          [hidePaginator]="true"
          [data]="tableDataBatters$ | async"
          [dataColumns]="(tableConfig$ | async).rows"
          [headers]="(tableConfig$ | async).headers"
          [statsMap]="MLB_STAT_MAP"
        >
        </app-espn-stats-table>
      </div>
    </div>

    <div class="mt-4 flex flex-wrap">
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-9/12">
        <app-espn-stats-table
          [hidePaginator]="true"
          [data]="tableDataPitchers$ | async"
          [dataColumns]="(pitcherTableConfig$ | async).rows"
          [headers]="(pitcherTableConfig$ | async).headers"
          [statsMap]="MLB_STAT_MAP"
        >
        </app-espn-stats-table>
      </div>
      <div class="w-full px-4 xl:w-3/12">
        <app-baseball-lineup-card
          title="Starting Pitchers"
          [isLoading]="isLoading$ | async"
          [lineup]="startingPitchers$ | async"
          (playerClicked)="onPlayerClick($event)"
          (refreshClicked)="onRefreshClick()"
        ></app-baseball-lineup-card>
        <div class="my-3"></div>
        <app-baseball-lineup-card
          title="Bench"
          [isLoading]="isLoading$ | async"
          [lineup]="benchPitchers$ | async"
          (playerClicked)="onPlayerClick($event)"
          (refreshClicked)="onRefreshClick()"
        ></app-baseball-lineup-card>
      </div>
    </div>
  </div>
</app-page-layout>
