$small-col-w: 60px;

mat-form-field {
  margin: 0 10px;
}

.mat-column-ranking {
  max-width: $small-col-w;
}

.scrollable-table {
  overflow-x: hidden;
  overflow-y: hidden;

  &.horizontalScroll {
    overflow-x: auto;
  }

  &.verticalScroll {
    overflow-y: auto;
  }

  &.maxHeightSmall {
    max-height: 270px;
    &.fixedHeight {
      height: 270px;
    }
  }

  &.maxHeightMedium {
    max-height: 450px;
    &.fixedHeight {
      height: 450px;
    }
  }

  &.maxHeightLarge {
    max-height: 700px;
    &.fixedHeight {
      height: 700px;
    }
  }
}

.threshold-col {
  // color: #ffffff;
  font-weight: bold;
  padding: 10px;
}

.status-indicator {
  font-weight: bold;
  &.excellent {
    background-color: #00876c;
    color: whitesmoke;
  }

  &.great {
    background-color: #71a879;
    color: whitesmoke;
  }

  &.above-avg {
    background-color: #b6c794;
    color: whitesmoke;
  }
  &.avg {
    background-color: #f4e8bc;
    color: whitesmoke;
  }

  &.below-avg {
    background-color: #eab780;
    color: whitesmoke;
  }

  &.poor {
    background-color: #e2805b;
    color: whitesmoke;
  }

  &.awful {
    background-color: #d43d51;
    color: whitesmoke;
  }
}

.great {
  background-color: #71a879;
  color: whitesmoke;
}
