<app-page-layout>
  <div statsHeader>
    <app-espn-team-header [team]="fantasyBaseballTeamFacade.teamInfo$ | async"></app-espn-team-header>
  </div>
  <div main>
    <div class="mt-4 flex flex-wrap">
      <div class="mb-12 w-full px-4">
        <app-base-card>
          <div class="flex flex-1 flex-col gap-5 sm:flex-row">
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="scoring period options"
                [selectedOption]="statPeriod$ | async"
                [filterItems]="scoringPeriodFilters$ | async"
                (filterUpdate)="onScoringPeriodIdChange($event)"
              ></app-dropdown-filter>
            </div>
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="batter stats options"
                [selectedOption]="selectedBatterStat$ | async"
                [filterItems]="BATTER_STATS_LIST_OPTIONS"
                (filterUpdate)="onBatterStatChange($event)"
              ></app-dropdown-filter>
            </div>
          </div>

          <app-chart-bar
            [horizontalLabels]="!(isMobile$ | async)"
            height="350px"
            ariaLabel="batter stats line chart"
            [chartData]="batterBarData$ | async"
          ></app-chart-bar>
        </app-base-card>
      </div>

      <div class="mb-12 w-full px-4">
        <app-base-card>
          <div class="flex flex-1 flex-col gap-5 sm:flex-row">
            <div class="basis-1/8">
              <app-refresh-btn (refreshButtonClicked)="onRefreshClick()"></app-refresh-btn>
            </div>
            <div class="basis-1/8">
              <app-toggle title="Live Stats" (selectChange)="onLiveScoringSelectChange($event)"></app-toggle>
            </div>
            <div class="basis-6/8"></div>
          </div>

          <app-espn-stats-table
            [hidePaginator]="true"
            [data]="tableDataBatters$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="MLB_STAT_MAP"
            (playerClicked)="onPlayerClicked($event)"
          >
          </app-espn-stats-table>
        </app-base-card>
        <app-base-card *ngIf="isLiveScore$ | async">
          <app-espn-stats-table
            [hidePaginator]="true"
            [data]="tableDataLiveBenchBatters$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="MLB_STAT_MAP"
          >
          </app-espn-stats-table>
        </app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
