<ng-container *ngIf="(slateFacade.slatesEmpty$ | async) === false">
  <app-slate-list [slateList]="slateFacade.selectSlateByType()" (selectSlate)="select($event)"></app-slate-list>
</ng-container>

<ng-container *ngIf="(NFLDfsFacade.loading$ | async) === false; else loading">
  <ng-container *ngIf="(scheduleFacade.nflMatchupsEmpty$ | async) === false">
    <app-matchup-table
      [tableData]="scheduleFacade.selectNflMatchupList$ | async"
      [dataColumns]="tableFacade.matchupTableList$ | async"
      [displayColumns]="tableFacade.matchupDisplayColumns$ | async"
    ></app-matchup-table>
  </ng-container>

  <div style="padding: 20px 0"></div>
  <ng-container *ngIf="(playerFacade.playersEmpty$ | async) === false">
    <app-nfl-player-table
      *ngIf="playerFacade.playerTableRows$ | async"
      [dfsPlayers]="playerFacade.playerTableRows$ | async"
      [dataColumns]="tableFacade.playerTableList$ | async"
      [displayColumns]="tableFacade.playerDisplayColumns$ | async"
    ></app-nfl-player-table>
  </ng-container>
  <div style="padding: 20px 0"></div>
</ng-container>

<ng-template #loading> <mat-progress-spinner color="primary" mode="indeterminate"> </mat-progress-spinner></ng-template>
