<mat-card>
    <mat-card-content>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
                <mat-cell *matCellDef="let team">
                    {{ team.id}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Team</mat-header-cell>
                <mat-cell *matCellDef="let team">
                    {{ team.name}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="standingsColumns"></mat-header-row>
            <mat-row *matRowDef="let rowData; columns: standingsColumns" (click)="viewTeam(rowData.id)"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>