<div class="ml-3 flex items-center space-x-4" (click)="onPlayerClick()">
  <div class="flex-shrink-0" [attr.aria-label]="player?.name">
    <img
      width="48"
      height="35"
      role="presentation"
      class="w-13 h-9 rounded-full text-center text-xs text-gray-500 hover:cursor-pointer"
      [title]="player?.name"
      [alt]="player?.name"
      [src]="player?.img"
    />
  </div>
  <div class="min-w-0 flex-1">
    <p [title]="player?.name" class="truncate text-xs font-medium hover:cursor-pointer sm:text-sm">
      {{ player?.name }}
      <i
        [ngClass]="[FaIconByEspnPlayerInjuryStatus[player?.injuryStatus], InjurySeverityClassByInjurySeverity[InjurySeverityByInjuryStatus[player?.injuryStatus]]]"
        [title]="InjuryLabelByInjuryStatus[player?.injuryStatus]"
      ></i>
    </p>
    <p class="truncate text-xs hover:cursor-pointer">{{ player?.team }} {{ player?.eligibleLineupSlots ? '- ' + player?.eligibleLineupSlots : '' }}</p>
  </div>
</div>
