<div fxLayoutAlign="start center" style="margin-bottom: 10px">
  <div fxFlex="20">
    <div>
      <img height="40px" [src]="team?.logo" />
    </div>
  </div>
  <div fxFlex="40">
    <div>
      <small *ngIf="team?.rank">{{ team?.rank }}&nbsp;</small>{{ team?.name }}
      <span style="font-size: 10px; vertical-align: center" *ngIf="team?.hasPossession">🏈</span>
      <small *ngIf="team?.inRedzone" style="color: red">RZ</small>
    </div>
    <div>
      {{ team?.record }}
    </div>
  </div>
  <div fxFlex="40">
    <div>
      <span style="float: right; font-size: 25px; vertical-align: center">{{ team?.score }}</span>
      <mat-icon *ngIf="team?.isWinner">arrow_left</mat-icon>
    </div>
  </div>
</div>
