<h3>{{stat | uppercase}}</h3>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header style="height:75px;">
            <mat-panel-title>
                <div style="margin: auto;">
                    <img height="40" width="40" [src]="sorted[0]?.teamLogo">
                    <div>
                        {{sorted[0]?.teamAbbrev}}
                    </div>
                </div>
            </mat-panel-title>
            <mat-panel-description>
                <div style="margin: auto;">
                    <p> {{sorted[0]?.stats[stat]|number:'1.0-3'}}</p>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
            <mat-list-item *ngFor="let team of sorted; index as i">
                {{team.stats[stat] | number}}
                <img matListAvatar [src]="team.teamLogo" [alt]="team.teamName">
                <h3 matLine> {{team.teamAbbrev}} </h3>
                <p matLine></p>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>