<div class="relative mb-6 flex w-full min-w-0 flex-col break-words rounded bg-white shadow-lg">
  <div class="mb-0 rounded-t bg-transparent px-4 py-3">
    <div *ngIf="title" class="flex flex-wrap items-center">
      <div class="relative w-full max-w-full flex-1 flex-grow">
        <h6 *ngIf="title" class="mb-1 text-xs font-semibold uppercase" [ngClass]="titleColor">{{ title }}</h6>
        <h2 *ngIf="subtitle" class="text-xl font-semibold" [ngClass]="subTitleColor">{{ subtitle }}</h2>
      </div>
    </div>
  </div>
  <div class="flex-auto p-4">
    <div class="relative" [ngStyle]="{ height: height }">
      <ng-content></ng-content>
    </div>
  </div>
</div>
