<mat-card>
  <mat-card-content>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons> </mat-paginator>
    <table [attr.aria-label]="ariaLabel" class="ui-w-100" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort matSortDisableClear>
      <ng-container *ngFor="let col of dataColumns">
        <ng-container [matColumnDef]="col?.columnDef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [title]="col?.headerTooltip">{{ col?.headerLabel }}</th>
          <td mat-cell *matCellDef="let data">
            <ng-container [ngSwitch]="col.columnDef">
              <ng-template [ngSwitchCase]="'name'">
                <app-player-info-col [player]="data"></app-player-info-col>
              </ng-template>
              <ng-template [ngSwitchCase]="'percentChange'">
                <app-player-trending-col [data]="col?.cellData(data)"></app-player-trending-col>
              </ng-template>
              <ng-template [ngSwitchCase]="'break'">-</ng-template>
              <ng-template [ngSwitchDefault]>
                {{ col.dataType === TableColumnDataType.number ? (col?.cellData(data) | statFormat: 'number' | number: '1.0-3') : col?.cellData(data) }}
              </ng-template>
            </ng-container>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let player; columns: headers" [ngStyle]="{ 'background-color': player.highlightedPlayer ? '#f4e8bc' : '' }"></tr>
    </table>
  </mat-card-content>
</mat-card>
