<mat-card>
  <mat-card-content>
    <app-scrollable-table>
      <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons> </mat-paginator>
      <table class="ui-w-100" mat-table [dataSource]="dataSource" matSortDirection="asc" matSort matSortDisableClear>
        <ng-container *ngFor="let col of dataColumns">
          <ng-container [matColumnDef]="col?.columnDef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col?.headerLabel }}</th>
            <td mat-cell *matCellDef="let data">
              <ng-container *ngIf="col.columnDef === 'name'; else normalCell">
                <app-player-info-col [player]="data"></app-player-info-col>
              </ng-container>
              <ng-template #normalCell>
                {{ col?.cellData(data) }}
              </ng-template>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="headers"></tr>
        <tr mat-row *matRowDef="let team; columns: headers"></tr>
      </table>
    </app-scrollable-table>
  </mat-card-content>
</mat-card>
