<div class="flex-col">
  <form>
    <div class="mb-6">
      <label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Your email</label>

      <input
        type="email"
        id="email"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        placeholder="name@flowbite.com"
        required
        #emailInput
        [value]="email"
        placeholder="me@example.com"
        (change)="onEmailInputChange(emailInput.value)"
      />
    </div>
    <div class="mb-6">
      <label for="password" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input
        type="password"
        id="password"
        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        required
        #passwordInput
        [value]="password"
        (change)="onPasswordInputChange(passwordInput.value)"
      />
    </div>

    <button
      [disabled]="!isFormValid"
      [class.disabled:opacity-50]="!isFormValid"
      [class.hover:cursor-not-allowed]="!isFormValid"
      (click)="!isFormValid ? null : onSignIn()"
      type="button"
      class="w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:w-auto"
    >
      Submit
    </button>
  </form>
</div>
