<app-page-layout>
  <div statsHeader>
    <app-espn-team-header [team]="fantasyBaseballTeamFacade.teamInfo$ | async"></app-espn-team-header>
  </div>
  <div main>
    <div class="mt-4 flex flex-wrap">
      <div class="mb-12 w-full px-4">
        <app-base-card>
          <app-toggle title="Live Stats" (selectChange)="onLiveScoringSelectChange($event)"></app-toggle>

          <app-espn-stats-table
            [hidePaginator]="true"
            [data]="tableDataPitchers$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="MLB_STAT_MAP"
            (playerClicked)="onPlayerClicked($event)"
          >
          </app-espn-stats-table>
        </app-base-card>
      </div>
    </div></div
></app-page-layout>
