<ng-container *ngIf="(mlbFacade.isLoading$ | async) === false; else loading">
  <div
    [gdAreas]="gridTemplate.area.main"
    gdGap="16px"
    gdRows="auto auto auto"
    [gdAreas.lt-md]="gridTemplate.lessThanMedium"
    [gdRows.lt-md]="gridTemplate.rowsLessThanMedium"
  >
    <div class="header" gdArea="header">
      <mat-toolbar style="background-color: #205493; color: #ffffff">
        <span>{{ teamName }}</span>
      </mat-toolbar>
    </div>
    <ng-container
      *ngIf="(mlbFacade.teamsEmpty$ | async) === false; else noPlayers"
    >
      <div class="side" gdArea="side">
        <mat-card data-test-id="">
          <mat-card-header> Lineup </mat-card-header>
          <mat-card-content>
            <ul>
              <li *ngFor="let player of batterLineup">
                <table style="width: 100%">
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      {{ player?.lineupSlot.abbrev }}
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      <img
                        width="48"
                        height="35"
                        [src]="player?.playerImg"
                        [alt]="player.name"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td syle="width:228px">
                      {{ player?.name }}
                      <mat-icon
                        [matTooltip]="player?.injuryStatus"
                        *ngIf="player?.isInjured"
                        style="color: #cd2026"
                        >medical_services
                      </mat-icon>
                    </td>
                    <td
                      rowspan="4"
                      style="width: 60px"
                      [ngStyle]="{
                        color:
                          player.playerRatings.get(1)?.totalRating <= 0
                            ? '#cd2026'
                            : '#2e8540'
                      }"
                    >
                      {{ player.playerRatings.get(1)?.totalRating | number }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ player?.proTeam }}, {{ player?.defaultPosition }}
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px" data-test-id="">
          <mat-card-header> Bench </mat-card-header>
          <mat-card-content>
            <ul>
              <li *ngFor="let player of batterBench">
                <table style="width: 100%">
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      {{ player?.lineupSlot.abbrev }}
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      <img
                        width="48"
                        height="35"
                        [src]="player?.playerImg"
                        [alt]="player.name"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td syle="width:228px">
                      {{ player?.name }}
                      <mat-icon
                        [matTooltip]="player?.injuryStatus"
                        *ngIf="player?.isInjured"
                        style="color: #cd2026"
                        >medical_services
                      </mat-icon>
                    </td>
                    <td
                      rowspan="4"
                      style="width: 60px"
                      [ngStyle]="{
                        color:
                          player.playerRatings.get(1)?.totalRating <= 0
                            ? '#cd2026'
                            : '#2e8540'
                      }"
                    >
                      {{ player.playerRatings.get(1)?.totalRating | number }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ player?.proTeam }}, {{ player?.defaultPosition }}
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px" data-test-id="">
          <mat-card-header> Pitchers </mat-card-header>
          <mat-card-content>
            <ul>
              <li *ngFor="let player of pitcherLineup">
                <table style="width: 100%">
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      {{ player?.lineupSlot.abbrev }}
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="4" style="width: 60px">
                      <img
                        width="48"
                        height="35"
                        [src]="player?.playerImg"
                        [alt]="player.name"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td syle="width:228px">
                      {{ player?.name }}
                      <mat-icon
                        [matTooltip]="player?.injuryStatus"
                        *ngIf="player?.isInjured"
                        style="color: #cd2026"
                        >medical_services
                      </mat-icon>
                    </td>
                    <td
                      rowspan="4"
                      style="width: 60px"
                      [ngStyle]="{
                        color:
                          player.playerRatings.get(1)?.totalRating <= 0
                            ? '#cd2026'
                            : '#2e8540'
                      }"
                    >
                      {{ player.playerRatings.get(1)?.totalRating | number }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ player?.proTeam }}, {{ player?.defaultPosition }}
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="content" gdArea="content">
        <div
          fxLayout="row wrap"
          style="background-color: aliceblue"
          fxLayoutGap="20px"
        ></div>
        <app-roster [fantasyPlayers]="batters"></app-roster>
        <div style="padding: 20px 0"></div>
        <app-roster [fantasyPlayers]="pitchers"></app-roster>
      </div>
    </ng-container>
    <div class="footer" gdArea="footer">Footer</div>
  </div>
</ng-container>

<ng-template #noPlayers> No Players </ng-template>

<ng-template #loading>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
