<app-page-layout>
  <div statsHeader>
    <app-football-team-header [team]="teamInfo$ | async"></app-football-team-header>
  </div>
  <div main>
    <div class="flex flex-wrap">
      <div class="mb-12 w-full px-4">
        <app-base-card>
          <div class="flex w-full flex-row gap-6">
            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="position options"
                [selectedOption]="selectedPosition$ | async"
                title="Position"
                [filterItems]="FOOTBALL_POSITION_LIST_FILTER"
                (filterUpdate)="onSelectedPositionChange($event)"
              ></app-dropdown-filter>
            </div>

            <div class="basis-1/3">
              <app-dropdown-filter
                ariaLabel="scoring period options"
                [selectedOption]="scoringPeriodId$ | async"
                title="Stat Period"
                [filterItems]="statPeriodFilterOptions$ | async"
                (filterUpdate)="scoringPeriodIdChange($event)"
              ></app-dropdown-filter>
            </div>
          </div>
          <app-espn-stats-table
            [hidePaginator]="true"
            [data]="tableData$ | async"
            [dataColumns]="(tableConfig$ | async).rows"
            [headers]="(tableConfig$ | async).headers"
            [statsMap]="FOOTBALL_STATS_MAP"
          >
          </app-espn-stats-table>
        </app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
