<app-page-layout>
  <div sidebar>
    <app-football-lineup-card
      title="Starters"
      [isLoading]="isLoading$ | async"
      [lineup]="starters$ | async"
      [points]="startersPoints$ | async"
      [scoringPeriodId]="currentScoringPeriodId$ | async"
      (playerClicked)="onPlayerClick($event)"
      (refreshClicked)="refreshLeague()"
    ></app-football-lineup-card>
    <div class="my-6"></div>
    <app-football-lineup-card
      title="Bench"
      [lineup]="bench$ | async"
      [points]="benchPoints$ | async"
      [scoringPeriodId]="currentScoringPeriodId$ | async"
      (playerClicked)="onPlayerClick($event)"
    ></app-football-lineup-card>
    <div class="my-6"></div>
    <ng-container *ngIf="(injuredReserve$ | async).length > 0">
      <app-football-lineup-card
        title="Injured Reserve"
        [lineup]="injuredReserve$ | async"
        [scoringPeriodId]="currentScoringPeriodId$ | async"
        (playerClicked)="onPlayerClick($event)"
      ></app-football-lineup-card>
    </ng-container>
  </div>
  <div main>
    <div class="flex w-full flex-row gap-6">
      <div class="basis-1/2">
        <app-dropdown-filter
          ariaLabel="position options"
          [selectedOption]="selectedPosition$ | async"
          title="Position"
          [filterItems]="FOOTBALL_POSITION_LIST_FILTER"
          (filterUpdate)="onSelectedPositionChange($event)"
        ></app-dropdown-filter>
      </div>
      <div class="basis-1/2">
        <app-dropdown-filter
          ariaLabel="scoring period options"
          [selectedOption]="scoringPeriodId$ | async"
          title="Stat Period"
          [filterItems]="statPeriodFilterOptions$ | async"
          (filterUpdate)="scoringPeriodIdChange($event)"
        ></app-dropdown-filter>
      </div>
    </div>
    <div>
      <app-espn-stats-table
        [data]="tableData$ | async"
        [dataColumns]="(tableConfig$ | async).rows"
        [headers]="(tableConfig$ | async).headers"
        [statsMap]="FOOTBALL_STATS_MAP"
      >
      </app-espn-stats-table>
    </div>
  </div>
</app-page-layout>
