<div class="flex-col">
  <div>
    <app-dropdown-filter [selectedOption]="sportOption$ | async" [filterItems]="fantasySportOptionList" (filterUpdate)="fantasySportChange($event)"></app-dropdown-filter>
  </div>
  <div>
    <mat-form-field>
      <input matInput #leagueIdInput placeholder="Ex: 21345679" (change)="leagueIdInputChange(leagueIdInput.value)" autocomplete="off" />
      <mat-label>League Id</mat-label>
    </mat-form-field>
  </div>
  <div>
    <button [disabled]="leagueFormFacade.isDirty$ | async" mat-flat-button color="primary" (click)="onAddLeague()">Add</button>
  </div>
</div>
