<div class="w-full px-4">
  <div>
    <app-dropdown-filter
      ariaLabel="sport options"
      [selectedOption]="sportOption$ | async"
      [filterItems]="fantasySportOptionList"
      (filterUpdate)="fantasySportChange($event)"
    ></app-dropdown-filter>
  </div>
  <div>
    <div class="mb-3 pt-0">
      <input
        type="number"
        #leagueIdInput
        placeholder="Ex: 21345679"
        (change)="leagueIdInputChange(leagueIdInput.value)"
        autocomplete="off"
        class="focus:shadow-outline relative w-full rounded bg-white px-3 py-3 text-sm shadow outline-none focus:outline-none"
      />
    </div>
  </div>
  <div>
    <button [disabled]="leagueFormFacade.isDirty$ | async" mat-flat-button color="primary" (click)="onAddLeague()">Add</button>
  </div>
</div>
