<mat-card>
  <mat-card-content>
    <div class="add-league-form">
      <div>
        <app-dropdown-filter
          [isMobile]="isMobile"
          [selectedOption]="sportOption$ | async"
          [filterItems]="fantasySportOptionList"
          (filterUpdate)="fantasySportChange($event)"
        ></app-dropdown-filter>
      </div>
      <div>
        <mat-form-field>
          <input matInput #leagueIdInput placeholder="Ex: 21345679" (change)="leagueIdInputChange(leagueIdInput.value)" autocomplete="off" />
          <mat-hint>League Id</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button [disabled]="leagueFormFacade.isDirty$ | async" mat-flat-button color="primary" (click)="onAddLeague()">Add</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div style="margin-top: 20px; flex-direction: column; display: flex; gap: 25px">
  <div *ngFor="let league of leagues">
    <mat-card style="display: flex">
      <mat-card-header>
        <div class="fantasy-sport-logo" [ngStyle]="{ 'background-position': LeagueSportToImageLocationMap[league.leagueSport] }"></div>
      </mat-card-header>
      <mat-card-content style="width: 100%; flex-direction: row; display: flex; align-items: center">
        <div style="width: 100%">
          <mat-card-title>{{ FantasySportToLabelMap[league.leagueSport] }}</mat-card-title>
          <mat-card-subtitle>{{ league.leagueName }}</mat-card-subtitle>
        </div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="League menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onNavigate(league.leagueSport, league.leagueId)">
              <span>View</span>
            </button>
            <button mat-menu-item (click)="onRemoveLeague(league.id)">
              <span>Remove</span>
            </button>
          </mat-menu>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
