<app-page-layout>
  <div main>
    <div class="flex flex-wrap">
      <div class="w-full px-4 xl:w-3/12">
        <app-base-card>
          <ng-container *ngIf="!(slatesEmpty$ | async)">
            <app-slate-list [slateList]="selectSlateByType$ | async" (selectSlate)="onSelectSlate($event)"></app-slate-list>
          </ng-container>
        </app-base-card>
      </div>
      <div class="mb-12 w-full px-4 xl:mb-0 xl:w-9/12">
        <app-base-card>
          <app-player-table
            [filter]="''"
            [teamMap]="MLB_TEAM_ID_MAP"
            [data]="playerList$ | async"
            [dataRows]="tableConfig.rows"
            [dataHeaders]="tableConfig.headers"
          ></app-player-table
        ></app-base-card>
      </div>
    </div>
  </div>
</app-page-layout>
